# coding: utf-8

"""
    eLabNext REST API

    ## Authentication    To authenticate use the `POST /api/v1/auth/user` call below in the Authentication tab with a username and password. This will return an API token as property `token`.    All API calls, with the exception of authentication, need this API token in the header as `Authorization: [API token]`. Omitting this header or supplying an invalid API token results in an error 401 Not Authorized.    Example: `Authorization: eec0727eaf6f7b127aaec1ec33c21caf`    To use this with the **Try it out** buttons, fill in the **api_key** field above with the API token.    ## Request Bodies    The API uses JSON with character set UTF-8 for request and response bodies.    In any call that utilizes request bodies you must supply the header `Content-Type: application/json; charset=utf-8`.    ## Response Codes    Status Code | Name | Meaning  ----------- | ---- | -------  200 | OK | Success. (JSON) content is included in the body.  204 | No Content | Success and no body content. This status is always returned when a call does not produce content.  400 | Bad Request | Bad/missing parameters or JSON input.  401 | Not Authorized | Authentication header is missing or the supplied API token is invalid.  403 | Forbidden | The user associated with the API token has no permission for the requested operation.  404 | Not Found | The resource specified in the request does not exist.  405 | Method Not Allowed | The API call was made with an unsupported HTTP method. (e.g. GET instead of POST.)  409 | Conflict | A POST or PUT operation failed because it conflicts with existing data.  500 | Internal Server Error | A generic error occurred on the server. The response's `message` property contains a description of the error.        # noqa: E501

    OpenAPI spec version: v1
    Contact: enquiries@elabnext.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from elabjournal_client.api_client import ApiClient


class BarcodeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def barcode_get_barcode_result(self, barcode, **kwargs):  # noqa: E501
        """Get the object type of a barcode and its associated id  # noqa: E501

        Searches for the provided barcode and returns its type (SAMPLE/STORAGELAYER/SAMPLESERIES) and the id of its associated object. You can use the GET API call for the specific type to retrieve the full object.    Note: if the barcode parameter has a dot (e.g. \"my.barcode\") then you MUST add a / to the end of this call (e.g. \".../barcode/my.barcode/\").    In case of an unrecognized barcode the type property will be set to UNKNOWN.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.barcode_get_barcode_result(barcode, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str barcode: (required)
        :param str x_requested_with: 
        :return: BarcodeResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.barcode_get_barcode_result_with_http_info(barcode, **kwargs)  # noqa: E501
        else:
            (data) = self.barcode_get_barcode_result_with_http_info(barcode, **kwargs)  # noqa: E501
            return data

    def barcode_get_barcode_result_with_http_info(self, barcode, **kwargs):  # noqa: E501
        """Get the object type of a barcode and its associated id  # noqa: E501

        Searches for the provided barcode and returns its type (SAMPLE/STORAGELAYER/SAMPLESERIES) and the id of its associated object. You can use the GET API call for the specific type to retrieve the full object.    Note: if the barcode parameter has a dot (e.g. \"my.barcode\") then you MUST add a / to the end of this call (e.g. \".../barcode/my.barcode/\").    In case of an unrecognized barcode the type property will be set to UNKNOWN.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.barcode_get_barcode_result_with_http_info(barcode, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str barcode: (required)
        :param str x_requested_with: 
        :return: BarcodeResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['barcode', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method barcode_get_barcode_result" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'barcode' is set
        if self.api_client.client_side_validation and ('barcode' not in params or
                                                       params['barcode'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `barcode` when calling `barcode_get_barcode_result`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'barcode' in params:
            path_params['barcode'] = params['barcode']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/barcode/{barcode}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BarcodeResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
