# coding: utf-8

"""
    eLabNext REST API

    ## Authentication    To authenticate use the `POST /api/v1/auth/user` call below in the Authentication tab with a username and password. This will return an API token as property `token`.    All API calls, with the exception of authentication, need this API token in the header as `Authorization: [API token]`. Omitting this header or supplying an invalid API token results in an error 401 Not Authorized.    Example: `Authorization: eec0727eaf6f7b127aaec1ec33c21caf`    To use this with the **Try it out** buttons, fill in the **api_key** field above with the API token.    ## Request Bodies    The API uses JSON with character set UTF-8 for request and response bodies.    In any call that utilizes request bodies you must supply the header `Content-Type: application/json; charset=utf-8`.    ## Response Codes    Status Code | Name | Meaning  ----------- | ---- | -------  200 | OK | Success. (JSON) content is included in the body.  204 | No Content | Success and no body content. This status is always returned when a call does not produce content.  400 | Bad Request | Bad/missing parameters or JSON input.  401 | Not Authorized | Authentication header is missing or the supplied API token is invalid.  403 | Forbidden | The user associated with the API token has no permission for the requested operation.  404 | Not Found | The resource specified in the request does not exist.  405 | Method Not Allowed | The API call was made with an unsupported HTTP method. (e.g. GET instead of POST.)  409 | Conflict | A POST or PUT operation failed because it conflicts with existing data.  500 | Internal Server Error | A generic error occurred on the server. The response's `message` property contains a description of the error.        # noqa: E501

    OpenAPI spec version: v1
    Contact: enquiries@elabnext.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from elabjournal_client.api_client import ApiClient


class ExperimentSectionsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def experiment_section_add_section_samples(self, exp_journal_id, sample_ids, **kwargs):  # noqa: E501
        """Add samples to a SAMPLESIN or SAMPLESOUT section  # noqa: E501

        This call will also add archived samples.    The request body of this call should contain a JSON array with the sample IDs.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_add_section_samples(exp_journal_id, sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_add_section_samples_with_http_info(exp_journal_id, sample_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_add_section_samples_with_http_info(exp_journal_id, sample_ids, **kwargs)  # noqa: E501
            return data

    def experiment_section_add_section_samples_with_http_info(self, exp_journal_id, sample_ids, **kwargs):  # noqa: E501
        """Add samples to a SAMPLESIN or SAMPLESOUT section  # noqa: E501

        This call will also add archived samples.    The request body of this call should contain a JSON array with the sample IDs.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_add_section_samples_with_http_info(exp_journal_id, sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'sample_ids', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_add_section_samples" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_add_section_samples`")  # noqa: E501
        # verify the required parameter 'sample_ids' is set
        if self.api_client.client_side_validation and ('sample_ids' not in params or
                                                       params['sample_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_ids` when calling `experiment_section_add_section_samples`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'sample_ids' in params:
            body_params = params['sample_ids']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/samples', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_archive_section(self, exp_journal_id, **kwargs):  # noqa: E501
        """Archives an experiment section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_archive_section(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_archive_section_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_archive_section_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
            return data

    def experiment_section_archive_section_with_http_info(self, exp_journal_id, **kwargs):  # noqa: E501
        """Archives an experiment section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_archive_section_with_http_info(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_archive_section" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_archive_section`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_change_section_position(self, exp_journal_id, position, **kwargs):  # noqa: E501
        """Changes the position of the section within the experiment  # noqa: E501

        The position is a 0-based integer where 0 is the top position within the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_change_section_position(exp_journal_id, position, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param int position: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_change_section_position_with_http_info(exp_journal_id, position, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_change_section_position_with_http_info(exp_journal_id, position, **kwargs)  # noqa: E501
            return data

    def experiment_section_change_section_position_with_http_info(self, exp_journal_id, position, **kwargs):  # noqa: E501
        """Changes the position of the section within the experiment  # noqa: E501

        The position is a 0-based integer where 0 is the top position within the experiment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_change_section_position_with_http_info(exp_journal_id, position, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param int position: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'position', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_change_section_position" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_change_section_position`")  # noqa: E501
        # verify the required parameter 'position' is set
        if self.api_client.client_side_validation and ('position' not in params or
                                                       params['position'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `position` when calling `experiment_section_change_section_position`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'position' in params:
            body_params = params['position']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/position', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_copy_experiment_section(self, exp_journal_id, **kwargs):  # noqa: E501
        """Copies experiment section  # noqa: E501

        This call copies a section of an experiment. The default experimentID is the ID of the experiment in which the section resides, to copy a section into another experiment provide the optional experimentID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_copy_experiment_section(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str expand: Expand an ID field to an object
        :param str view_id: Specify a viewID to customize the result
        :param str view_columns: Specify viewColumns to extend the result
        :param str section_header: The header of the copied section, if left blank the header will be the original with 'Copy of' added in front of it.
        :param str experiment_id: The experiment where this section should be copied to, leave blank for the provided sections experiment ID.
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_copy_experiment_section_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_copy_experiment_section_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
            return data

    def experiment_section_copy_experiment_section_with_http_info(self, exp_journal_id, **kwargs):  # noqa: E501
        """Copies experiment section  # noqa: E501

        This call copies a section of an experiment. The default experimentID is the ID of the experiment in which the section resides, to copy a section into another experiment provide the optional experimentID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_copy_experiment_section_with_http_info(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str expand: Expand an ID field to an object
        :param str view_id: Specify a viewID to customize the result
        :param str view_columns: Specify viewColumns to extend the result
        :param str section_header: The header of the copied section, if left blank the header will be the original with 'Copy of' added in front of it.
        :param str experiment_id: The experiment where this section should be copied to, leave blank for the provided sections experiment ID.
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'expand', 'view_id', 'view_columns', 'section_header', 'experiment_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_copy_experiment_section" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_copy_experiment_section`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []
        if 'expand' in params:
            query_params.append(('$expand', params['expand']))  # noqa: E501
        if 'view_id' in params:
            query_params.append(('$viewID', params['view_id']))  # noqa: E501
        if 'view_columns' in params:
            query_params.append(('$viewColumns', params['view_columns']))  # noqa: E501
        if 'section_header' in params:
            query_params.append(('sectionHeader', params['section_header']))  # noqa: E501
        if 'experiment_id' in params:
            query_params.append(('experimentID', params['experiment_id']))  # noqa: E501

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/copy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_create_blank_oos_file(self, exp_journal_id, oos_section, **kwargs):  # noqa: E501
        """Create a blank OOS file of a given type  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_create_blank_oos_file(exp_journal_id, oos_section, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param OosSection oos_section: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_create_blank_oos_file_with_http_info(exp_journal_id, oos_section, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_create_blank_oos_file_with_http_info(exp_journal_id, oos_section, **kwargs)  # noqa: E501
            return data

    def experiment_section_create_blank_oos_file_with_http_info(self, exp_journal_id, oos_section, **kwargs):  # noqa: E501
        """Create a blank OOS file of a given type  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_create_blank_oos_file_with_http_info(exp_journal_id, oos_section, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param OosSection oos_section: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'oos_section', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_create_blank_oos_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_create_blank_oos_file`")  # noqa: E501
        # verify the required parameter 'oos_section' is set
        if self.api_client.client_side_validation and ('oos_section' not in params or
                                                       params['oos_section'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `oos_section` when calling `experiment_section_create_blank_oos_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'oos_section' in params:
            body_params = params['oos_section']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/oos/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_create_section(self, experiment_id, section, **kwargs):  # noqa: E501
        """Create a new, empty section in an experiment  # noqa: E501

        Use the `order` property to specify the position of the new section within the experiment. This is a a 0-based integer where 0 is the top position within the experiment. If you omit this property the section is appended at the bottom.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_create_section(experiment_id, section, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int experiment_id: (required)
        :param ExpJournalNew section: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_create_section_with_http_info(experiment_id, section, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_create_section_with_http_info(experiment_id, section, **kwargs)  # noqa: E501
            return data

    def experiment_section_create_section_with_http_info(self, experiment_id, section, **kwargs):  # noqa: E501
        """Create a new, empty section in an experiment  # noqa: E501

        Use the `order` property to specify the position of the new section within the experiment. This is a a 0-based integer where 0 is the top position within the experiment. If you omit this property the section is appended at the bottom.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_create_section_with_http_info(experiment_id, section, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int experiment_id: (required)
        :param ExpJournalNew section: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['experiment_id', 'section', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_create_section" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'experiment_id' is set
        if self.api_client.client_side_validation and ('experiment_id' not in params or
                                                       params['experiment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `experiment_id` when calling `experiment_section_create_section`")  # noqa: E501
        # verify the required parameter 'section' is set
        if self.api_client.client_side_validation and ('section' not in params or
                                                       params['section'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `section` when calling `experiment_section_create_section`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'experiment_id' in params:
            path_params['experimentID'] = params['experiment_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'section' in params:
            body_params = params['section']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/{experimentID}/sections', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_create_section_meta(self, exp_journal_id, section_meta, **kwargs):  # noqa: E501
        """Create or update meta data in a section  # noqa: E501

        This call will add the meta data if the name of the meta doesn't exist yet. If the name exists the associated meta data will be updated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_create_section_meta(exp_journal_id, section_meta, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param ExpJournalMetaNew section_meta: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_create_section_meta_with_http_info(exp_journal_id, section_meta, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_create_section_meta_with_http_info(exp_journal_id, section_meta, **kwargs)  # noqa: E501
            return data

    def experiment_section_create_section_meta_with_http_info(self, exp_journal_id, section_meta, **kwargs):  # noqa: E501
        """Create or update meta data in a section  # noqa: E501

        This call will add the meta data if the name of the meta doesn't exist yet. If the name exists the associated meta data will be updated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_create_section_meta_with_http_info(exp_journal_id, section_meta, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param ExpJournalMetaNew section_meta: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'section_meta', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_create_section_meta" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_create_section_meta`")  # noqa: E501
        # verify the required parameter 'section_meta' is set
        if self.api_client.client_side_validation and ('section_meta' not in params or
                                                       params['section_meta'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `section_meta` when calling `experiment_section_create_section_meta`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'section_meta' in params:
            body_params = params['section_meta']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/meta', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_create_section_meta2(self, exp_journal_id, section_meta, **kwargs):  # noqa: E501
        """Create or update meta data in a section  # noqa: E501

        This call will add the meta data if the name of the meta doesn't exist yet. If the name exists the associated meta data will be updated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_create_section_meta2(exp_journal_id, section_meta, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param ExpJournalMetaNew section_meta: (required)
        :param str x_requested_with: 
        :return: ExpJournalMeta
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_create_section_meta2_with_http_info(exp_journal_id, section_meta, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_create_section_meta2_with_http_info(exp_journal_id, section_meta, **kwargs)  # noqa: E501
            return data

    def experiment_section_create_section_meta2_with_http_info(self, exp_journal_id, section_meta, **kwargs):  # noqa: E501
        """Create or update meta data in a section  # noqa: E501

        This call will add the meta data if the name of the meta doesn't exist yet. If the name exists the associated meta data will be updated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_create_section_meta2_with_http_info(exp_journal_id, section_meta, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param ExpJournalMetaNew section_meta: (required)
        :param str x_requested_with: 
        :return: ExpJournalMeta
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'section_meta', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_create_section_meta2" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_create_section_meta2`")  # noqa: E501
        # verify the required parameter 'section_meta' is set
        if self.api_client.client_side_validation and ('section_meta' not in params or
                                                       params['section_meta'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `section_meta` when calling `experiment_section_create_section_meta2`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'section_meta' in params:
            body_params = params['section_meta']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/meta', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExpJournalMeta',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_delete_section_file(self, experiment_file_id, exp_journal_id, **kwargs):  # noqa: E501
        """Remove a file from a FILE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_delete_section_file(experiment_file_id, exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int experiment_file_id: (required)
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_delete_section_file_with_http_info(experiment_file_id, exp_journal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_delete_section_file_with_http_info(experiment_file_id, exp_journal_id, **kwargs)  # noqa: E501
            return data

    def experiment_section_delete_section_file_with_http_info(self, experiment_file_id, exp_journal_id, **kwargs):  # noqa: E501
        """Remove a file from a FILE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_delete_section_file_with_http_info(experiment_file_id, exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int experiment_file_id: (required)
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['experiment_file_id', 'exp_journal_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_delete_section_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'experiment_file_id' is set
        if self.api_client.client_side_validation and ('experiment_file_id' not in params or
                                                       params['experiment_file_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `experiment_file_id` when calling `experiment_section_delete_section_file`")  # noqa: E501
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_delete_section_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'experiment_file_id' in params:
            path_params['experimentFileID'] = params['experiment_file_id']  # noqa: E501
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/files/{experimentFileID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_delete_section_files(self, exp_journal_id, experiment_file_ids, **kwargs):  # noqa: E501
        """Remove multiple files from a FILE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_delete_section_files(exp_journal_id, experiment_file_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param list[int] experiment_file_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_delete_section_files_with_http_info(exp_journal_id, experiment_file_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_delete_section_files_with_http_info(exp_journal_id, experiment_file_ids, **kwargs)  # noqa: E501
            return data

    def experiment_section_delete_section_files_with_http_info(self, exp_journal_id, experiment_file_ids, **kwargs):  # noqa: E501
        """Remove multiple files from a FILE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_delete_section_files_with_http_info(exp_journal_id, experiment_file_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param list[int] experiment_file_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'experiment_file_ids', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_delete_section_files" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_delete_section_files`")  # noqa: E501
        # verify the required parameter 'experiment_file_ids' is set
        if self.api_client.client_side_validation and ('experiment_file_ids' not in params or
                                                       params['experiment_file_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `experiment_file_ids` when calling `experiment_section_delete_section_files`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'experiment_file_ids' in params:
            body_params = params['experiment_file_ids']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/files', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_delete_section_image(self, experiment_file_id, exp_journal_id, **kwargs):  # noqa: E501
        """Remove an image from an IMAGE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_delete_section_image(experiment_file_id, exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int experiment_file_id: (required)
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_delete_section_image_with_http_info(experiment_file_id, exp_journal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_delete_section_image_with_http_info(experiment_file_id, exp_journal_id, **kwargs)  # noqa: E501
            return data

    def experiment_section_delete_section_image_with_http_info(self, experiment_file_id, exp_journal_id, **kwargs):  # noqa: E501
        """Remove an image from an IMAGE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_delete_section_image_with_http_info(experiment_file_id, exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int experiment_file_id: (required)
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['experiment_file_id', 'exp_journal_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_delete_section_image" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'experiment_file_id' is set
        if self.api_client.client_side_validation and ('experiment_file_id' not in params or
                                                       params['experiment_file_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `experiment_file_id` when calling `experiment_section_delete_section_image`")  # noqa: E501
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_delete_section_image`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'experiment_file_id' in params:
            path_params['experimentFileID'] = params['experiment_file_id']  # noqa: E501
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/images/{experimentFileID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_delete_section_images(self, exp_journal_id, experiment_file_ids, **kwargs):  # noqa: E501
        """Remove multiple images from an IMAGE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_delete_section_images(exp_journal_id, experiment_file_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param list[int] experiment_file_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_delete_section_images_with_http_info(exp_journal_id, experiment_file_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_delete_section_images_with_http_info(exp_journal_id, experiment_file_ids, **kwargs)  # noqa: E501
            return data

    def experiment_section_delete_section_images_with_http_info(self, exp_journal_id, experiment_file_ids, **kwargs):  # noqa: E501
        """Remove multiple images from an IMAGE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_delete_section_images_with_http_info(exp_journal_id, experiment_file_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param list[int] experiment_file_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'experiment_file_ids', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_delete_section_images" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_delete_section_images`")  # noqa: E501
        # verify the required parameter 'experiment_file_ids' is set
        if self.api_client.client_side_validation and ('experiment_file_ids' not in params or
                                                       params['experiment_file_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `experiment_file_ids` when calling `experiment_section_delete_section_images`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'experiment_file_ids' in params:
            body_params = params['experiment_file_ids']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/images', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_delete_section_samples(self, exp_journal_id, sample_ids, **kwargs):  # noqa: E501
        """Remove samples from a SAMPLESIN or SAMPLESOUT section  # noqa: E501

        The request body of this call should contain a JSON array with the sample IDs which should be removed from the section.    You can add the boolean query parameter `archiveSamples` to this call to archive the samples as well.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_delete_section_samples(exp_journal_id, sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param list[int] sample_ids: (required)
        :param bool archive_samples:
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_delete_section_samples_with_http_info(exp_journal_id, sample_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_delete_section_samples_with_http_info(exp_journal_id, sample_ids, **kwargs)  # noqa: E501
            return data

    def experiment_section_delete_section_samples_with_http_info(self, exp_journal_id, sample_ids, **kwargs):  # noqa: E501
        """Remove samples from a SAMPLESIN or SAMPLESOUT section  # noqa: E501

        The request body of this call should contain a JSON array with the sample IDs which should be removed from the section.    You can add the boolean query parameter `archiveSamples` to this call to archive the samples as well.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_delete_section_samples_with_http_info(exp_journal_id, sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param list[int] sample_ids: (required)
        :param bool archive_samples:
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'sample_ids', 'archive_samples', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_delete_section_samples" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_delete_section_samples`")  # noqa: E501
        # verify the required parameter 'sample_ids' is set
        if self.api_client.client_side_validation and ('sample_ids' not in params or
                                                       params['sample_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_ids` when calling `experiment_section_delete_section_samples`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []
        if 'archive_samples' in params:
            query_params.append(('archiveSamples', params['archive_samples']))  # noqa: E501

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'sample_ids' in params:
            body_params = params['sample_ids']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/samples', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_download_marvin_js_image(self, exp_journal_id, **kwargs):  # noqa: E501
        """Download the image of a MARVINJS section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_marvin_js_image(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_download_marvin_js_image_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_download_marvin_js_image_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
            return data

    def experiment_section_download_marvin_js_image_with_http_info(self, exp_journal_id, **kwargs):  # noqa: E501
        """Download the image of a MARVINJS section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_marvin_js_image_with_http_info(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_download_marvin_js_image" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_download_marvin_js_image`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/marvinjs/image', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_download_section_canvas_image(self, exp_journal_id, **kwargs):  # noqa: E501
        """Download the canvas image from a CANVAS section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_canvas_image(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param int max_width:
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_download_section_canvas_image_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_download_section_canvas_image_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
            return data

    def experiment_section_download_section_canvas_image_with_http_info(self, exp_journal_id, **kwargs):  # noqa: E501
        """Download the canvas image from a CANVAS section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_canvas_image_with_http_info(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param int max_width:
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'max_width', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_download_section_canvas_image" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_download_section_canvas_image`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []
        if 'max_width' in params:
            query_params.append(('maxWidth', params['max_width']))  # noqa: E501

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/canvas', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_download_section_excel_file(self, exp_journal_id, **kwargs):  # noqa: E501
        """Download the excel file from an EXCEL section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_excel_file(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_download_section_excel_file_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_download_section_excel_file_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
            return data

    def experiment_section_download_section_excel_file_with_http_info(self, exp_journal_id, **kwargs):  # noqa: E501
        """Download the excel file from an EXCEL section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_excel_file_with_http_info(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_download_section_excel_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_download_section_excel_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/excel', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_download_section_excel_preview(self, exp_journal_id, **kwargs):  # noqa: E501
        """Download the preview image from an EXCEL section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_excel_preview(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_download_section_excel_preview_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_download_section_excel_preview_with_http_info(exp_journal_id, **kwargs)  # noqa: E501
            return data

    def experiment_section_download_section_excel_preview_with_http_info(self, exp_journal_id, **kwargs):  # noqa: E501
        """Download the preview image from an EXCEL section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_excel_preview_with_http_info(exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_download_section_excel_preview" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_download_section_excel_preview`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/excel/preview', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_download_section_file(self, experiment_file_id, exp_journal_id, **kwargs):  # noqa: E501
        """Download a file from a FILE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_file(experiment_file_id, exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int experiment_file_id: (required)
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_download_section_file_with_http_info(experiment_file_id, exp_journal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_download_section_file_with_http_info(experiment_file_id, exp_journal_id, **kwargs)  # noqa: E501
            return data

    def experiment_section_download_section_file_with_http_info(self, experiment_file_id, exp_journal_id, **kwargs):  # noqa: E501
        """Download a file from a FILE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_file_with_http_info(experiment_file_id, exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int experiment_file_id: (required)
        :param int exp_journal_id: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['experiment_file_id', 'exp_journal_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_download_section_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'experiment_file_id' is set
        if self.api_client.client_side_validation and ('experiment_file_id' not in params or
                                                       params['experiment_file_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `experiment_file_id` when calling `experiment_section_download_section_file`")  # noqa: E501
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_download_section_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'experiment_file_id' in params:
            path_params['experimentFileID'] = params['experiment_file_id']  # noqa: E501
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/files/{experimentFileID}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_download_section_image(self, experiment_file_id, exp_journal_id, **kwargs):  # noqa: E501
        """Download an image from an IMAGE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_image(experiment_file_id, exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int experiment_file_id: (required)
        :param int exp_journal_id: (required)
        :param int max_width:
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_download_section_image_with_http_info(experiment_file_id, exp_journal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_download_section_image_with_http_info(experiment_file_id, exp_journal_id, **kwargs)  # noqa: E501
            return data

    def experiment_section_download_section_image_with_http_info(self, experiment_file_id, exp_journal_id, **kwargs):  # noqa: E501
        """Download an image from an IMAGE or CUSTOM section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_image_with_http_info(experiment_file_id, exp_journal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int experiment_file_id: (required)
        :param int exp_journal_id: (required)
        :param int max_width:
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['experiment_file_id', 'exp_journal_id', 'max_width', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method experiment_section_download_section_image" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'experiment_file_id' is set
        if self.api_client.client_side_validation and ('experiment_file_id' not in params or
                                                       params['experiment_file_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `experiment_file_id` when calling `experiment_section_download_section_image`")  # noqa: E501
        # verify the required parameter 'exp_journal_id' is set
        if self.api_client.client_side_validation and ('exp_journal_id' not in params or
                                                       params['exp_journal_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `exp_journal_id` when calling `experiment_section_download_section_image`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'experiment_file_id' in params:
            path_params['experimentFileID'] = params['experiment_file_id']  # noqa: E501
        if 'exp_journal_id' in params:
            path_params['expJournalID'] = params['exp_journal_id']  # noqa: E501

        query_params = []
        if 'max_width' in params:
            query_params.append(('maxWidth', params['max_width']))  # noqa: E501

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/experiments/sections/{expJournalID}/images/{experimentFileID}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def experiment_section_download_section_oos_preview(self, exp_journal_id, oos_extension, **kwargs):  # noqa: E501
        """Download the preview image from an OOS section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_oos_preview(exp_journal_id, oos_extension, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str oos_extension: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.experiment_section_download_section_oos_preview_with_http_info(exp_journal_id, oos_extension, **kwargs)  # noqa: E501
        else:
            (data) = self.experiment_section_download_section_oos_preview_with_http_info(exp_journal_id, oos_extension, **kwargs)  # noqa: E501
            return data

    def experiment_section_download_section_oos_preview_with_http_info(self, exp_journal_id, oos_extension, **kwargs):  # noqa: E501
        """Download the preview image from an OOS section  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.experiment_section_download_section_oos_preview_with_http_info(exp_journal_id, oos_extension, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int exp_journal_id: (required)
        :param str oos_extension: (required)
        :param str x_requested_with: 
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exp_journal_id', 'oos_extension', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
[...]
