# coding: utf-8

"""
    eLabNext REST API

    ## Authentication    To authenticate use the `POST /api/v1/auth/user` call below in the Authentication tab with a username and password. This will return an API token as property `token`.    All API calls, with the exception of authentication, need this API token in the header as `Authorization: [API token]`. Omitting this header or supplying an invalid API token results in an error 401 Not Authorized.    Example: `Authorization: eec0727eaf6f7b127aaec1ec33c21caf`    To use this with the **Try it out** buttons, fill in the **api_key** field above with the API token.    ## Request Bodies    The API uses JSON with character set UTF-8 for request and response bodies.    In any call that utilizes request bodies you must supply the header `Content-Type: application/json; charset=utf-8`.    ## Response Codes    Status Code | Name | Meaning  ----------- | ---- | -------  200 | OK | Success. (JSON) content is included in the body.  204 | No Content | Success and no body content. This status is always returned when a call does not produce content.  400 | Bad Request | Bad/missing parameters or JSON input.  401 | Not Authorized | Authentication header is missing or the supplied API token is invalid.  403 | Forbidden | The user associated with the API token has no permission for the requested operation.  404 | Not Found | The resource specified in the request does not exist.  405 | Method Not Allowed | The API call was made with an unsupported HTTP method. (e.g. GET instead of POST.)  409 | Conflict | A POST or PUT operation failed because it conflicts with existing data.  500 | Internal Server Error | A generic error occurred on the server. The response's `message` property contains a description of the error.        # noqa: E501

    OpenAPI spec version: v1
    Contact: enquiries@elabnext.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from elabjournal_client.api_client import ApiClient


class StorageAndEquipmentApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def assignment_create_assignment(self, storage_layer_id, assignment, **kwargs):  # noqa: E501
        """Create compartment assignment.  # noqa: E501

        This call assigns a compartment. The assigned compartments descendants will also be assigned to the user or role.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assignment_create_assignment(storage_layer_id, assignment, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_layer_id: (required)
        :param AssignmentNew assignment: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.assignment_create_assignment_with_http_info(storage_layer_id, assignment, **kwargs)  # noqa: E501
        else:
            (data) = self.assignment_create_assignment_with_http_info(storage_layer_id, assignment, **kwargs)  # noqa: E501
            return data

    def assignment_create_assignment_with_http_info(self, storage_layer_id, assignment, **kwargs):  # noqa: E501
        """Create compartment assignment.  # noqa: E501

        This call assigns a compartment. The assigned compartments descendants will also be assigned to the user or role.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assignment_create_assignment_with_http_info(storage_layer_id, assignment, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_layer_id: (required)
        :param AssignmentNew assignment: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_layer_id', 'assignment', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method assignment_create_assignment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'storage_layer_id' is set
        if self.api_client.client_side_validation and ('storage_layer_id' not in params or
                                                       params['storage_layer_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_layer_id` when calling `assignment_create_assignment`")  # noqa: E501
        # verify the required parameter 'assignment' is set
        if self.api_client.client_side_validation and ('assignment' not in params or
                                                       params['assignment'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `assignment` when calling `assignment_create_assignment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'storage_layer_id' in params:
            path_params['storageLayerID'] = params['storage_layer_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'assignment' in params:
            body_params = params['assignment']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storageLayers/{storageLayerID}/assignment', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def assignment_delete_assignment(self, assignment_id, **kwargs):  # noqa: E501
        """Delete a compartment assignment.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assignment_delete_assignment(assignment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int assignment_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.assignment_delete_assignment_with_http_info(assignment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.assignment_delete_assignment_with_http_info(assignment_id, **kwargs)  # noqa: E501
            return data

    def assignment_delete_assignment_with_http_info(self, assignment_id, **kwargs):  # noqa: E501
        """Delete a compartment assignment.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assignment_delete_assignment_with_http_info(assignment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int assignment_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['assignment_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method assignment_delete_assignment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'assignment_id' is set
        if self.api_client.client_side_validation and ('assignment_id' not in params or
                                                       params['assignment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `assignment_id` when calling `assignment_delete_assignment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'assignment_id' in params:
            path_params['assignmentID'] = params['assignment_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storageLayers/assignment/{assignmentID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def assignment_get_assignment_by_storage_layer_id(self, storage_layer_id, **kwargs):  # noqa: E501
        """Get active assignment of a compartment.  # noqa: E501

        This call gets the active assignment for a compartment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assignment_get_assignment_by_storage_layer_id(storage_layer_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_layer_id: (required)
        :param str x_requested_with: 
        :return: Assignment
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.assignment_get_assignment_by_storage_layer_id_with_http_info(storage_layer_id, **kwargs)  # noqa: E501
        else:
            (data) = self.assignment_get_assignment_by_storage_layer_id_with_http_info(storage_layer_id, **kwargs)  # noqa: E501
            return data

    def assignment_get_assignment_by_storage_layer_id_with_http_info(self, storage_layer_id, **kwargs):  # noqa: E501
        """Get active assignment of a compartment.  # noqa: E501

        This call gets the active assignment for a compartment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assignment_get_assignment_by_storage_layer_id_with_http_info(storage_layer_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_layer_id: (required)
        :param str x_requested_with: 
        :return: Assignment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_layer_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method assignment_get_assignment_by_storage_layer_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'storage_layer_id' is set
        if self.api_client.client_side_validation and ('storage_layer_id' not in params or
                                                       params['storage_layer_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_layer_id` when calling `assignment_get_assignment_by_storage_layer_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'storage_layer_id' in params:
            path_params['storageLayerID'] = params['storage_layer_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storageLayers/{storageLayerID}/assignment', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Assignment',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def assignment_update_assignment(self, assignment_id, assignment, **kwargs):  # noqa: E501
        """Update a compartment assignment.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assignment_update_assignment(assignment_id, assignment, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int assignment_id: (required)
        :param AssignmentNew assignment: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.assignment_update_assignment_with_http_info(assignment_id, assignment, **kwargs)  # noqa: E501
        else:
            (data) = self.assignment_update_assignment_with_http_info(assignment_id, assignment, **kwargs)  # noqa: E501
            return data

    def assignment_update_assignment_with_http_info(self, assignment_id, assignment, **kwargs):  # noqa: E501
        """Update a compartment assignment.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assignment_update_assignment_with_http_info(assignment_id, assignment, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int assignment_id: (required)
        :param AssignmentNew assignment: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['assignment_id', 'assignment', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method assignment_update_assignment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'assignment_id' is set
        if self.api_client.client_side_validation and ('assignment_id' not in params or
                                                       params['assignment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `assignment_id` when calling `assignment_update_assignment`")  # noqa: E501
        # verify the required parameter 'assignment' is set
        if self.api_client.client_side_validation and ('assignment' not in params or
                                                       params['assignment'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `assignment` when calling `assignment_update_assignment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'assignment_id' in params:
            path_params['assignmentID'] = params['assignment_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'assignment' in params:
            body_params = params['assignment']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storageLayers/assignment/{assignmentID}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def booking_create_booking(self, equipment_id, booking, **kwargs):  # noqa: E501
        """Create an equipment booking.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.booking_create_booking(equipment_id, booking, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int equipment_id: (required)
        :param BookingNew booking: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.booking_create_booking_with_http_info(equipment_id, booking, **kwargs)  # noqa: E501
        else:
            (data) = self.booking_create_booking_with_http_info(equipment_id, booking, **kwargs)  # noqa: E501
            return data

    def booking_create_booking_with_http_info(self, equipment_id, booking, **kwargs):  # noqa: E501
        """Create an equipment booking.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.booking_create_booking_with_http_info(equipment_id, booking, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int equipment_id: (required)
        :param BookingNew booking: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['equipment_id', 'booking', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method booking_create_booking" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'equipment_id' is set
        if self.api_client.client_side_validation and ('equipment_id' not in params or
                                                       params['equipment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `equipment_id` when calling `booking_create_booking`")  # noqa: E501
        # verify the required parameter 'booking' is set
        if self.api_client.client_side_validation and ('booking' not in params or
                                                       params['booking'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `booking` when calling `booking_create_booking`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'equipment_id' in params:
            path_params['equipmentID'] = params['equipment_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'booking' in params:
            body_params = params['booking']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/equipment/{equipmentID}/bookings', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def booking_delete_booking(self, booking_id, **kwargs):  # noqa: E501
        """Delete an equipment booking.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.booking_delete_booking(booking_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int booking_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.booking_delete_booking_with_http_info(booking_id, **kwargs)  # noqa: E501
        else:
            (data) = self.booking_delete_booking_with_http_info(booking_id, **kwargs)  # noqa: E501
            return data

    def booking_delete_booking_with_http_info(self, booking_id, **kwargs):  # noqa: E501
        """Delete an equipment booking.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.booking_delete_booking_with_http_info(booking_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int booking_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['booking_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method booking_delete_booking" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'booking_id' is set
        if self.api_client.client_side_validation and ('booking_id' not in params or
                                                       params['booking_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `booking_id` when calling `booking_delete_booking`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'booking_id' in params:
            path_params['bookingID'] = params['booking_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/equipment/bookings/{bookingID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def booking_get_bookings(self, equipment_id, **kwargs):  # noqa: E501
        """Get equipment bookings.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.booking_get_bookings(equipment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int equipment_id: (required)
        :param str expand: Expand an ID field to an object
        :param str sort: Sort by a specific field
        :param str page: Set the current page (0 based)
        :param str records: Set the number of records to return (1000 maximum)
        :param str view_id: Specify a viewID to customize the result
        :param str view_columns: Specify viewColumns to extend the result
        :param str _from: Bookings where the start date/time is equal or greater than the given filter.
        :param str to: Bookings where the end date/time is equal or less than the given filter.
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.booking_get_bookings_with_http_info(equipment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.booking_get_bookings_with_http_info(equipment_id, **kwargs)  # noqa: E501
            return data

    def booking_get_bookings_with_http_info(self, equipment_id, **kwargs):  # noqa: E501
        """Get equipment bookings.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.booking_get_bookings_with_http_info(equipment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int equipment_id: (required)
        :param str expand: Expand an ID field to an object
        :param str sort: Sort by a specific field
        :param str page: Set the current page (0 based)
        :param str records: Set the number of records to return (1000 maximum)
        :param str view_id: Specify a viewID to customize the result
        :param str view_columns: Specify viewColumns to extend the result
        :param str _from: Bookings where the start date/time is equal or greater than the given filter.
        :param str to: Bookings where the end date/time is equal or less than the given filter.
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['equipment_id', 'expand', 'sort', 'page', 'records', 'view_id', 'view_columns', '_from', 'to', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method booking_get_bookings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'equipment_id' is set
        if self.api_client.client_side_validation and ('equipment_id' not in params or
                                                       params['equipment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `equipment_id` when calling `booking_get_bookings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'equipment_id' in params:
            path_params['equipmentID'] = params['equipment_id']  # noqa: E501

        query_params = []
        if 'expand' in params:
            query_params.append(('$expand', params['expand']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('$sort', params['sort']))  # noqa: E501
        if 'page' in params:
            query_params.append(('$page', params['page']))  # noqa: E501
        if 'records' in params:
            query_params.append(('$records', params['records']))  # noqa: E501
        if 'view_id' in params:
            query_params.append(('$viewID', params['view_id']))  # noqa: E501
        if 'view_columns' in params:
            query_params.append(('$viewColumns', params['view_columns']))  # noqa: E501
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501
        if 'to' in params:
            query_params.append(('to', params['to']))  # noqa: E501

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/equipment/{equipmentID}/bookings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def booking_update_booking(self, booking_id, booking, **kwargs):  # noqa: E501
        """Update an equipment booking.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.booking_update_booking(booking_id, booking, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int booking_id: (required)
        :param BookingNew booking: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.booking_update_booking_with_http_info(booking_id, booking, **kwargs)  # noqa: E501
        else:
            (data) = self.booking_update_booking_with_http_info(booking_id, booking, **kwargs)  # noqa: E501
            return data

    def booking_update_booking_with_http_info(self, booking_id, booking, **kwargs):  # noqa: E501
        """Update an equipment booking.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.booking_update_booking_with_http_info(booking_id, booking, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int booking_id: (required)
        :param BookingNew booking: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['booking_id', 'booking', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method booking_update_booking" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'booking_id' is set
        if self.api_client.client_side_validation and ('booking_id' not in params or
                                                       params['booking_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `booking_id` when calling `booking_update_booking`")  # noqa: E501
        # verify the required parameter 'booking' is set
        if self.api_client.client_side_validation and ('booking' not in params or
                                                       params['booking'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `booking` when calling `booking_update_booking`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'booking_id' in params:
            path_params['bookingID'] = params['booking_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'booking' in params:
            body_params = params['booking']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/equipment/bookings/{bookingID}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_bulk_delete_storage_meta(self, storage_meta_ids, **kwargs):  # noqa: E501
        """Delete multiple equipment or storage units meta fields  # noqa: E501

        This call will delete multiple equipment meta fields. To pass multiple storageMetaIDs the input has to be provided as an array e.g. '[1, 2, 3]'  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_bulk_delete_storage_meta(storage_meta_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] storage_meta_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_bulk_delete_storage_meta_with_http_info(storage_meta_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_bulk_delete_storage_meta_with_http_info(storage_meta_ids, **kwargs)  # noqa: E501
            return data

    def storage_bulk_delete_storage_meta_with_http_info(self, storage_meta_ids, **kwargs):  # noqa: E501
        """Delete multiple equipment or storage units meta fields  # noqa: E501

        This call will delete multiple equipment meta fields. To pass multiple storageMetaIDs the input has to be provided as an array e.g. '[1, 2, 3]'  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_bulk_delete_storage_meta_with_http_info(storage_meta_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] storage_meta_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_meta_ids', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_bulk_delete_storage_meta" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'storage_meta_ids' is set
        if self.api_client.client_side_validation and ('storage_meta_ids' not in params or
                                                       params['storage_meta_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_meta_ids` when calling `storage_bulk_delete_storage_meta`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'storage_meta_ids' in params:
            body_params = params['storage_meta_ids']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage/meta/bulk', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_bulk_patch_storage_meta(self, delta, **kwargs):  # noqa: E501
        """Update multiple equipment or storage units meta fields  # noqa: E501

        If you update a meta with type FILE you must supply a valid metaFileID of the file. See the Meta File calls. For other types the metaFileID is ignored.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_bulk_patch_storage_meta(delta, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[StorageMeta] delta: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_bulk_patch_storage_meta_with_http_info(delta, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_bulk_patch_storage_meta_with_http_info(delta, **kwargs)  # noqa: E501
            return data

    def storage_bulk_patch_storage_meta_with_http_info(self, delta, **kwargs):  # noqa: E501
        """Update multiple equipment or storage units meta fields  # noqa: E501

        If you update a meta with type FILE you must supply a valid metaFileID of the file. See the Meta File calls. For other types the metaFileID is ignored.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_bulk_patch_storage_meta_with_http_info(delta, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[StorageMeta] delta: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['delta', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_bulk_patch_storage_meta" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'delta' is set
        if self.api_client.client_side_validation and ('delta' not in params or
                                                       params['delta'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `delta` when calling `storage_bulk_patch_storage_meta`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'delta' in params:
            body_params = params['delta']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage/meta/bulk', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_create_bulk_storage_meta(self, dto, **kwargs):  # noqa: E501
        """Create multiple new equipment or storage unit meta fields  # noqa: E501

        If you create a meta with type FILE you must supply a valid metaFileID of the file. See the Meta File calls. For other types the metaFileID is ignored.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_bulk_storage_meta(dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[StorageMetaNewBulk] dto: (required)
        :param str x_requested_with: 
        :return: list[StorageMeta]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_create_bulk_storage_meta_with_http_info(dto, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_create_bulk_storage_meta_with_http_info(dto, **kwargs)  # noqa: E501
            return data

    def storage_create_bulk_storage_meta_with_http_info(self, dto, **kwargs):  # noqa: E501
        """Create multiple new equipment or storage unit meta fields  # noqa: E501

        If you create a meta with type FILE you must supply a valid metaFileID of the file. See the Meta File calls. For other types the metaFileID is ignored.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_bulk_storage_meta_with_http_info(dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[StorageMetaNewBulk] dto: (required)
        :param str x_requested_with: 
        :return: list[StorageMeta]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dto', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_create_bulk_storage_meta" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dto' is set
        if self.api_client.client_side_validation and ('dto' not in params or
                                                       params['dto'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dto` when calling `storage_create_bulk_storage_meta`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'dto' in params:
            body_params = params['dto']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage/meta/bulk', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[StorageMeta]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_create_child_storage_layer(self, storage_layer_id, storage_layer_new, **kwargs):  # noqa: E501
        """Create a new compartment within an existing compartment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_child_storage_layer(storage_layer_id, storage_layer_new, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_layer_id: (required)
        :param StorageLayerNew storage_layer_new: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_create_child_storage_layer_with_http_info(storage_layer_id, storage_layer_new, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_create_child_storage_layer_with_http_info(storage_layer_id, storage_layer_new, **kwargs)  # noqa: E501
            return data

    def storage_create_child_storage_layer_with_http_info(self, storage_layer_id, storage_layer_new, **kwargs):  # noqa: E501
        """Create a new compartment within an existing compartment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_child_storage_layer_with_http_info(storage_layer_id, storage_layer_new, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_layer_id: (required)
        :param StorageLayerNew storage_layer_new: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_layer_id', 'storage_layer_new', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_create_child_storage_layer" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'storage_layer_id' is set
        if self.api_client.client_side_validation and ('storage_layer_id' not in params or
                                                       params['storage_layer_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_layer_id` when calling `storage_create_child_storage_layer`")  # noqa: E501
        # verify the required parameter 'storage_layer_new' is set
        if self.api_client.client_side_validation and ('storage_layer_new' not in params or
                                                       params['storage_layer_new'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_layer_new` when calling `storage_create_child_storage_layer`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'storage_layer_id' in params:
            path_params['storageLayerID'] = params['storage_layer_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'storage_layer_new' in params:
            body_params = params['storage_layer_new']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storageLayers/{storageLayerID}/childLayers', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_create_child_storage_layers(self, storage_layer_id, layers, **kwargs):  # noqa: E501
        """Create multiple new compartments within an existing compartment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_child_storage_layers(storage_layer_id, layers, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_layer_id: (required)
        :param MultipleStorageLayerNew layers: (required)
        :param str x_requested_with: 
        :return: list[int]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_create_child_storage_layers_with_http_info(storage_layer_id, layers, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_create_child_storage_layers_with_http_info(storage_layer_id, layers, **kwargs)  # noqa: E501
            return data

    def storage_create_child_storage_layers_with_http_info(self, storage_layer_id, layers, **kwargs):  # noqa: E501
        """Create multiple new compartments within an existing compartment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_child_storage_layers_with_http_info(storage_layer_id, layers, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_layer_id: (required)
        :param MultipleStorageLayerNew layers: (required)
        :param str x_requested_with: 
        :return: list[int]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_layer_id', 'layers', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_create_child_storage_layers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'storage_layer_id' is set
        if self.api_client.client_side_validation and ('storage_layer_id' not in params or
                                                       params['storage_layer_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_layer_id` when calling `storage_create_child_storage_layers`")  # noqa: E501
        # verify the required parameter 'layers' is set
        if self.api_client.client_side_validation and ('layers' not in params or
                                                       params['layers'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `layers` when calling `storage_create_child_storage_layers`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'storage_layer_id' in params:
            path_params['storageLayerID'] = params['storage_layer_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'layers' in params:
            body_params = params['layers']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storageLayers/{storageLayerID}/childLayers/bulk', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[int]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_create_storage(self, storage_new, **kwargs):  # noqa: E501
        """Create a new storage unit/equipment based on the specified type  # noqa: E501

          Note: this call can create either a storage unit or an equipment. This depends on the storageTypeID that you supply with this call. See the storageType calls.     # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage(storage_new, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StorageNew storage_new: (required)
        :param str x_requested_with: 
        :return: StorageNewResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_create_storage_with_http_info(storage_new, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_create_storage_with_http_info(storage_new, **kwargs)  # noqa: E501
            return data

    def storage_create_storage_with_http_info(self, storage_new, **kwargs):  # noqa: E501
        """Create a new storage unit/equipment based on the specified type  # noqa: E501

          Note: this call can create either a storage unit or an equipment. This depends on the storageTypeID that you supply with this call. See the storageType calls.     # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_with_http_info(storage_new, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StorageNew storage_new: (required)
        :param str x_requested_with: 
        :return: StorageNewResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_new', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_create_storage" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'storage_new' is set
        if self.api_client.client_side_validation and ('storage_new' not in params or
                                                       params['storage_new'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_new` when calling `storage_create_storage`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'storage_new' in params:
            body_params = params['storage_new']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StorageNewResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_create_storage_layer_definition(self, storage_id, storage_layer_definition_new, **kwargs):  # noqa: E501
        """Create a new compartment definition for a storage unit. This is a template for creating one or more compartments.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_layer_definition(storage_id, storage_layer_definition_new, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_id: (required)
        :param StorageLayerDefinitionNew storage_layer_definition_new: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_create_storage_layer_definition_with_http_info(storage_id, storage_layer_definition_new, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_create_storage_layer_definition_with_http_info(storage_id, storage_layer_definition_new, **kwargs)  # noqa: E501
            return data

    def storage_create_storage_layer_definition_with_http_info(self, storage_id, storage_layer_definition_new, **kwargs):  # noqa: E501
        """Create a new compartment definition for a storage unit. This is a template for creating one or more compartments.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_layer_definition_with_http_info(storage_id, storage_layer_definition_new, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_id: (required)
        :param StorageLayerDefinitionNew storage_layer_definition_new: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_id', 'storage_layer_definition_new', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_create_storage_layer_definition" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'storage_id' is set
        if self.api_client.client_side_validation and ('storage_id' not in params or
                                                       params['storage_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_id` when calling `storage_create_storage_layer_definition`")  # noqa: E501
        # verify the required parameter 'storage_layer_definition_new' is set
        if self.api_client.client_side_validation and ('storage_layer_definition_new' not in params or
                                                       params['storage_layer_definition_new'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_layer_definition_new` when calling `storage_create_storage_layer_definition`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'storage_id' in params:
            path_params['storageID'] = params['storage_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'storage_layer_definition_new' in params:
            body_params = params['storage_layer_definition_new']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage/{storageID}/storageLayerDefinitions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_create_storage_layer_reservation(self, storage_layer_id, dto, **kwargs):  # noqa: E501
        """Create a new storage/equipment compartment reservation  # noqa: E501

        Reservations must be created per compartment. For equipment simply use its main storageLayerID to reserve it. For storage units you can reserve a specific compartment by supplying its storageLayerID.    To create a permanent reservation omit the end date/time or set it to \"9999-12-31T00:00:00Z\".    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_layer_reservation(storage_layer_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_layer_id: (required)
        :param StorageLayerReservationNew dto: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_create_storage_layer_reservation_with_http_info(storage_layer_id, dto, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_create_storage_layer_reservation_with_http_info(storage_layer_id, dto, **kwargs)  # noqa: E501
            return data

    def storage_create_storage_layer_reservation_with_http_info(self, storage_layer_id, dto, **kwargs):  # noqa: E501
        """Create a new storage/equipment compartment reservation  # noqa: E501

        Reservations must be created per compartment. For equipment simply use its main storageLayerID to reserve it. For storage units you can reserve a specific compartment by supplying its storageLayerID.    To create a permanent reservation omit the end date/time or set it to \"9999-12-31T00:00:00Z\".    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_layer_reservation_with_http_info(storage_layer_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_layer_id: (required)
        :param StorageLayerReservationNew dto: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_layer_id', 'dto', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_create_storage_layer_reservation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'storage_layer_id' is set
        if self.api_client.client_side_validation and ('storage_layer_id' not in params or
                                                       params['storage_layer_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_layer_id` when calling `storage_create_storage_layer_reservation`")  # noqa: E501
        # verify the required parameter 'dto' is set
        if self.api_client.client_side_validation and ('dto' not in params or
                                                       params['dto'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dto` when calling `storage_create_storage_layer_reservation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'storage_layer_id' in params:
            path_params['storageLayerID'] = params['storage_layer_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'dto' in params:
            body_params = params['dto']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storageLayers/{storageLayerID}/reservations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_create_storage_manager(self, storage_id, dto, **kwargs):  # noqa: E501
        """Add a userID as manager to a storage unit/equipment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_manager(storage_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_id: (required)
        :param StorageManagerNew dto: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_create_storage_manager_with_http_info(storage_id, dto, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_create_storage_manager_with_http_info(storage_id, dto, **kwargs)  # noqa: E501
            return data

    def storage_create_storage_manager_with_http_info(self, storage_id, dto, **kwargs):  # noqa: E501
        """Add a userID as manager to a storage unit/equipment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_manager_with_http_info(storage_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_id: (required)
        :param StorageManagerNew dto: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_id', 'dto', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_create_storage_manager" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'storage_id' is set
        if self.api_client.client_side_validation and ('storage_id' not in params or
                                                       params['storage_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_id` when calling `storage_create_storage_manager`")  # noqa: E501
        # verify the required parameter 'dto' is set
        if self.api_client.client_side_validation and ('dto' not in params or
                                                       params['dto'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dto` when calling `storage_create_storage_manager`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'storage_id' in params:
            path_params['storageID'] = params['storage_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'dto' in params:
            body_params = params['dto']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage/{storageID}/managers', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_create_storage_managers(self, storage_id, user_ids, **kwargs):  # noqa: E501
        """Add multiple managers by userID to a storage unit/equipment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_managers(storage_id, user_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_id: (required)
        :param list[int] user_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_create_storage_managers_with_http_info(storage_id, user_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_create_storage_managers_with_http_info(storage_id, user_ids, **kwargs)  # noqa: E501
            return data

    def storage_create_storage_managers_with_http_info(self, storage_id, user_ids, **kwargs):  # noqa: E501
        """Add multiple managers by userID to a storage unit/equipment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_managers_with_http_info(storage_id, user_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_id: (required)
        :param list[int] user_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_id', 'user_ids', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_create_storage_managers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'storage_id' is set
        if self.api_client.client_side_validation and ('storage_id' not in params or
                                                       params['storage_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_id` when calling `storage_create_storage_managers`")  # noqa: E501
        # verify the required parameter 'user_ids' is set
        if self.api_client.client_side_validation and ('user_ids' not in params or
                                                       params['user_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `user_ids` when calling `storage_create_storage_managers`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'storage_id' in params:
            path_params['storageID'] = params['storage_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'user_ids' in params:
            body_params = params['user_ids']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage/{storageID}/managers/bulk', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_create_storage_meta(self, storage_id, dto, **kwargs):  # noqa: E501
        """Create a new equipment or storage unit meta field  # noqa: E501

          Note: only equipment currently supports meta fields. Creating these for storage units will have no effect.     If you create a meta with type FILE you must supply a valid metaFileID of the file. See the Meta File calls. For other types the metaFileID is ignored.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_meta(storage_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_id: (required)
        :param StorageMetaNew dto: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_create_storage_meta_with_http_info(storage_id, dto, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_create_storage_meta_with_http_info(storage_id, dto, **kwargs)  # noqa: E501
            return data

    def storage_create_storage_meta_with_http_info(self, storage_id, dto, **kwargs):  # noqa: E501
        """Create a new equipment or storage unit meta field  # noqa: E501

          Note: only equipment currently supports meta fields. Creating these for storage units will have no effect.     If you create a meta with type FILE you must supply a valid metaFileID of the file. See the Meta File calls. For other types the metaFileID is ignored.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_meta_with_http_info(storage_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int storage_id: (required)
        :param StorageMetaNew dto: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_id', 'dto', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_create_storage_meta" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'storage_id' is set
        if self.api_client.client_side_validation and ('storage_id' not in params or
                                                       params['storage_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `storage_id` when calling `storage_create_storage_meta`")  # noqa: E501
        # verify the required parameter 'dto' is set
        if self.api_client.client_side_validation and ('dto' not in params or
                                                       params['dto'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dto` when calling `storage_create_storage_meta`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'storage_id' in params:
            path_params['storageID'] = params['storage_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'dto' in params:
            body_params = params['dto']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage/{storageID}/meta', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_create_storage_type(self, dto, **kwargs):  # noqa: E501
        """Create a new equipment type  # noqa: E501

          Note: the system only allows the creation of deviceType EQUIPMENT.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_type(dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StorageTypeNew dto: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.storage_create_storage_type_with_http_info(dto, **kwargs)  # noqa: E501
        else:
            (data) = self.storage_create_storage_type_with_http_info(dto, **kwargs)  # noqa: E501
            return data

    def storage_create_storage_type_with_http_info(self, dto, **kwargs):  # noqa: E501
        """Create a new equipment type  # noqa: E501

          Note: the system only allows the creation of deviceType EQUIPMENT.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.storage_create_storage_type_with_http_info(dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StorageTypeNew dto: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dto', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method storage_create_storage_type" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dto' is set
        if self.api_client.client_side_validation and ('dto' not in params or
                                                       params['dto'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dto` when calling `storage_create_storage_type`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'dto' in params:
            body_params = params['dto']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storageTypes', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def storage_create_storage_validation(self, storage_id, dto, **kwargs):  # noqa: E501
        """Create a new storage unit or equipment validation  # noqa: E501

          Note: the hasValidation property of the equipment must be set to true before validation checking is enabled.   Both metaFileID and metaFileIDs are optional. If multiple validation files need to be added metaFileIDs has to be used.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
[...]
