# coding: utf-8

"""
    eLabNext REST API

    ## Authentication    To authenticate use the `POST /api/v1/auth/user` call below in the Authentication tab with a username and password. This will return an API token as property `token`.    All API calls, with the exception of authentication, need this API token in the header as `Authorization: [API token]`. Omitting this header or supplying an invalid API token results in an error 401 Not Authorized.    Example: `Authorization: eec0727eaf6f7b127aaec1ec33c21caf`    To use this with the **Try it out** buttons, fill in the **api_key** field above with the API token.    ## Request Bodies    The API uses JSON with character set UTF-8 for request and response bodies.    In any call that utilizes request bodies you must supply the header `Content-Type: application/json; charset=utf-8`.    ## Response Codes    Status Code | Name | Meaning  ----------- | ---- | -------  200 | OK | Success. (JSON) content is included in the body.  204 | No Content | Success and no body content. This status is always returned when a call does not produce content.  400 | Bad Request | Bad/missing parameters or JSON input.  401 | Not Authorized | Authentication header is missing or the supplied API token is invalid.  403 | Forbidden | The user associated with the API token has no permission for the requested operation.  404 | Not Found | The resource specified in the request does not exist.  405 | Method Not Allowed | The API call was made with an unsupported HTTP method. (e.g. GET instead of POST.)  409 | Conflict | A POST or PUT operation failed because it conflicts with existing data.  500 | Internal Server Error | A generic error occurred on the server. The response's `message` property contains a description of the error.        # noqa: E501

    OpenAPI spec version: v1
    Contact: enquiries@elabnext.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class OrganisationsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def organisation_search_organisations(self, name, **kwargs):  # noqa: E501
        """Find organisation by name  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_search_organisations(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: (required)
        :param str x_requested_with: 
        :return: list[Institute]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organisation_search_organisations_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.organisation_search_organisations_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def organisation_search_organisations_with_http_info(self, name, **kwargs):  # noqa: E501
        """Find organisation by name  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_search_organisations_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: (required)
        :param str x_requested_with: 
        :return: list[Institute]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organisation_search_organisations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and ('name' not in params or
                                                       params['name'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `name` when calling `organisation_search_organisations`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/organisations/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Institute]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def organisation_settings_create_active_group_setting(self, dto, **kwargs):  # noqa: E501
        """Create an active institute setting  # noqa: E501

        This call creates an active institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_create_active_group_setting(dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param InstituteSettingNew dto: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organisation_settings_create_active_group_setting_with_http_info(dto, **kwargs)  # noqa: E501
        else:
            (data) = self.organisation_settings_create_active_group_setting_with_http_info(dto, **kwargs)  # noqa: E501
            return data

    def organisation_settings_create_active_group_setting_with_http_info(self, dto, **kwargs):  # noqa: E501
        """Create an active institute setting  # noqa: E501

        This call creates an active institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_create_active_group_setting_with_http_info(dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param InstituteSettingNew dto: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dto', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organisation_settings_create_active_group_setting" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dto' is set
        if self.api_client.client_side_validation and ('dto' not in params or
                                                       params['dto'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dto` when calling `organisation_settings_create_active_group_setting`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'dto' in params:
            body_params = params['dto']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/organisations/active/settings', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def organisation_settings_create_institute_setting(self, institute_id, dto, **kwargs):  # noqa: E501
        """Create a institute setting  # noqa: E501

        This call creates a institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_create_institute_setting(institute_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_id: (required)
        :param InstituteSettingNew dto: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organisation_settings_create_institute_setting_with_http_info(institute_id, dto, **kwargs)  # noqa: E501
        else:
            (data) = self.organisation_settings_create_institute_setting_with_http_info(institute_id, dto, **kwargs)  # noqa: E501
            return data

    def organisation_settings_create_institute_setting_with_http_info(self, institute_id, dto, **kwargs):  # noqa: E501
        """Create a institute setting  # noqa: E501

        This call creates a institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_create_institute_setting_with_http_info(institute_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_id: (required)
        :param InstituteSettingNew dto: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['institute_id', 'dto', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organisation_settings_create_institute_setting" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'institute_id' is set
        if self.api_client.client_side_validation and ('institute_id' not in params or
                                                       params['institute_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `institute_id` when calling `organisation_settings_create_institute_setting`")  # noqa: E501
        # verify the required parameter 'dto' is set
        if self.api_client.client_side_validation and ('dto' not in params or
                                                       params['dto'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dto` when calling `organisation_settings_create_institute_setting`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'institute_id' in params:
            path_params['instituteID'] = params['institute_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'dto' in params:
            body_params = params['dto']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/organisations/{instituteID}/settings', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def organisation_settings_delete_institute_setting(self, institute_id, institute_setting_id, **kwargs):  # noqa: E501
        """Delete an institute setting  # noqa: E501

        This call deletes an institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_delete_institute_setting(institute_id, institute_setting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_id: (required)
        :param int institute_setting_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organisation_settings_delete_institute_setting_with_http_info(institute_id, institute_setting_id, **kwargs)  # noqa: E501
        else:
            (data) = self.organisation_settings_delete_institute_setting_with_http_info(institute_id, institute_setting_id, **kwargs)  # noqa: E501
            return data

    def organisation_settings_delete_institute_setting_with_http_info(self, institute_id, institute_setting_id, **kwargs):  # noqa: E501
        """Delete an institute setting  # noqa: E501

        This call deletes an institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_delete_institute_setting_with_http_info(institute_id, institute_setting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_id: (required)
        :param int institute_setting_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['institute_id', 'institute_setting_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organisation_settings_delete_institute_setting" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'institute_id' is set
        if self.api_client.client_side_validation and ('institute_id' not in params or
                                                       params['institute_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `institute_id` when calling `organisation_settings_delete_institute_setting`")  # noqa: E501
        # verify the required parameter 'institute_setting_id' is set
        if self.api_client.client_side_validation and ('institute_setting_id' not in params or
                                                       params['institute_setting_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `institute_setting_id` when calling `organisation_settings_delete_institute_setting`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'institute_id' in params:
            path_params['instituteID'] = params['institute_id']  # noqa: E501
        if 'institute_setting_id' in params:
            path_params['instituteSettingID'] = params['institute_setting_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/organisations/{instituteID}/settings/{instituteSettingID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def organisation_settings_delete_institute_setting_for_current_institute(self, institute_setting_id, **kwargs):  # noqa: E501
        """Delete an active institute setting  # noqa: E501

        This call deletes an active institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_delete_institute_setting_for_current_institute(institute_setting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_setting_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organisation_settings_delete_institute_setting_for_current_institute_with_http_info(institute_setting_id, **kwargs)  # noqa: E501
        else:
            (data) = self.organisation_settings_delete_institute_setting_for_current_institute_with_http_info(institute_setting_id, **kwargs)  # noqa: E501
            return data

    def organisation_settings_delete_institute_setting_for_current_institute_with_http_info(self, institute_setting_id, **kwargs):  # noqa: E501
        """Delete an active institute setting  # noqa: E501

        This call deletes an active institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_delete_institute_setting_for_current_institute_with_http_info(institute_setting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_setting_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['institute_setting_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organisation_settings_delete_institute_setting_for_current_institute" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'institute_setting_id' is set
        if self.api_client.client_side_validation and ('institute_setting_id' not in params or
                                                       params['institute_setting_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `institute_setting_id` when calling `organisation_settings_delete_institute_setting_for_current_institute`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'institute_setting_id' in params:
            path_params['instituteSettingID'] = params['institute_setting_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/organisations/active/settings/{instituteSettingID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def organisation_settings_get_active_institute_setting(self, institute_setting_id, **kwargs):  # noqa: E501
        """Get an active institute setting  # noqa: E501

        This call fetches an active institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_get_active_institute_setting(institute_setting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_setting_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organisation_settings_get_active_institute_setting_with_http_info(institute_setting_id, **kwargs)  # noqa: E501
        else:
            (data) = self.organisation_settings_get_active_institute_setting_with_http_info(institute_setting_id, **kwargs)  # noqa: E501
            return data

    def organisation_settings_get_active_institute_setting_with_http_info(self, institute_setting_id, **kwargs):  # noqa: E501
        """Get an active institute setting  # noqa: E501

        This call fetches an active institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_get_active_institute_setting_with_http_info(institute_setting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_setting_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['institute_setting_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organisation_settings_get_active_institute_setting" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'institute_setting_id' is set
        if self.api_client.client_side_validation and ('institute_setting_id' not in params or
                                                       params['institute_setting_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `institute_setting_id` when calling `organisation_settings_get_active_institute_setting`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'institute_setting_id' in params:
            path_params['instituteSettingId'] = params['institute_setting_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/organisations/active/settings/{instituteSettingId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def organisation_settings_get_active_institute_settings(self, **kwargs):  # noqa: E501
        """Get active institute settings  # noqa: E501

        This call fetches institute group settings. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_get_active_institute_settings(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str expand: Expand an ID field to an object
        :param str view_id: Specify a viewID to customize the result
        :param str view_columns: Specify viewColumns to extend the result
        :param str keys: Filter by group institute keys
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organisation_settings_get_active_institute_settings_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.organisation_settings_get_active_institute_settings_with_http_info(**kwargs)  # noqa: E501
            return data

    def organisation_settings_get_active_institute_settings_with_http_info(self, **kwargs):  # noqa: E501
        """Get active institute settings  # noqa: E501

        This call fetches institute group settings. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_get_active_institute_settings_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str expand: Expand an ID field to an object
        :param str view_id: Specify a viewID to customize the result
        :param str view_columns: Specify viewColumns to extend the result
        :param str keys: Filter by group institute keys
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['expand', 'view_id', 'view_columns', 'keys', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organisation_settings_get_active_institute_settings" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'expand' in params:
            query_params.append(('$expand', params['expand']))  # noqa: E501
        if 'view_id' in params:
            query_params.append(('$viewID', params['view_id']))  # noqa: E501
        if 'view_columns' in params:
            query_params.append(('$viewColumns', params['view_columns']))  # noqa: E501
        if 'keys' in params:
            query_params.append(('keys', params['keys']))  # noqa: E501

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/organisations/active/settings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def organisation_settings_get_institute_setting(self, institute_id, institute_setting_id, **kwargs):  # noqa: E501
        """Get an institute setting  # noqa: E501

        This call fetches an institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_get_institute_setting(institute_id, institute_setting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_id: (required)
        :param int institute_setting_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organisation_settings_get_institute_setting_with_http_info(institute_id, institute_setting_id, **kwargs)  # noqa: E501
        else:
            (data) = self.organisation_settings_get_institute_setting_with_http_info(institute_id, institute_setting_id, **kwargs)  # noqa: E501
            return data

    def organisation_settings_get_institute_setting_with_http_info(self, institute_id, institute_setting_id, **kwargs):  # noqa: E501
        """Get an institute setting  # noqa: E501

        This call fetches an institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_get_institute_setting_with_http_info(institute_id, institute_setting_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_id: (required)
        :param int institute_setting_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['institute_id', 'institute_setting_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organisation_settings_get_institute_setting" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'institute_id' is set
        if self.api_client.client_side_validation and ('institute_id' not in params or
                                                       params['institute_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `institute_id` when calling `organisation_settings_get_institute_setting`")  # noqa: E501
        # verify the required parameter 'institute_setting_id' is set
        if self.api_client.client_side_validation and ('institute_setting_id' not in params or
                                                       params['institute_setting_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `institute_setting_id` when calling `organisation_settings_get_institute_setting`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'institute_id' in params:
            path_params['instituteID'] = params['institute_id']  # noqa: E501
        if 'institute_setting_id' in params:
            path_params['instituteSettingID'] = params['institute_setting_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/organisations/{instituteID}/settings/{instituteSettingID}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def organisation_settings_get_institute_settings(self, group_id, institute_id, **kwargs):  # noqa: E501
        """Get institute settings  # noqa: E501

        This call fetches all institute settings. The results can be filtered on a single key or multiple keys. To filter on multiple keys the keys have to be provided in the following way: 'key1,key2,key3'.Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_get_institute_settings(group_id, institute_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int group_id: (required)
        :param str institute_id: (required)
        :param str expand: Expand an ID field to an object
        :param str view_id: Specify a viewID to customize the result
        :param str view_columns: Specify viewColumns to extend the result
        :param str keys: Filter by institute settings keys
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organisation_settings_get_institute_settings_with_http_info(group_id, institute_id, **kwargs)  # noqa: E501
        else:
            (data) = self.organisation_settings_get_institute_settings_with_http_info(group_id, institute_id, **kwargs)  # noqa: E501
            return data

    def organisation_settings_get_institute_settings_with_http_info(self, group_id, institute_id, **kwargs):  # noqa: E501
        """Get institute settings  # noqa: E501

        This call fetches all institute settings. The results can be filtered on a single key or multiple keys. To filter on multiple keys the keys have to be provided in the following way: 'key1,key2,key3'.Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_get_institute_settings_with_http_info(group_id, institute_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int group_id: (required)
        :param str institute_id: (required)
        :param str expand: Expand an ID field to an object
        :param str view_id: Specify a viewID to customize the result
        :param str view_columns: Specify viewColumns to extend the result
        :param str keys: Filter by institute settings keys
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['group_id', 'institute_id', 'expand', 'view_id', 'view_columns', 'keys', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organisation_settings_get_institute_settings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'group_id' is set
        if self.api_client.client_side_validation and ('group_id' not in params or
                                                       params['group_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `group_id` when calling `organisation_settings_get_institute_settings`")  # noqa: E501
        # verify the required parameter 'institute_id' is set
        if self.api_client.client_side_validation and ('institute_id' not in params or
                                                       params['institute_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `institute_id` when calling `organisation_settings_get_institute_settings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'institute_id' in params:
            path_params['instituteID'] = params['institute_id']  # noqa: E501

        query_params = []
        if 'group_id' in params:
            query_params.append(('groupID', params['group_id']))  # noqa: E501
        if 'expand' in params:
            query_params.append(('$expand', params['expand']))  # noqa: E501
        if 'view_id' in params:
            query_params.append(('$viewID', params['view_id']))  # noqa: E501
        if 'view_columns' in params:
            query_params.append(('$viewColumns', params['view_columns']))  # noqa: E501
        if 'keys' in params:
            query_params.append(('keys', params['keys']))  # noqa: E501

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/organisations/{instituteID}/settings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def organisation_settings_update_active_institute_setting(self, institute_setting_id, dto, **kwargs):  # noqa: E501
        """Update an active institute setting  # noqa: E501

        This call updates an active institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_update_active_institute_setting(institute_setting_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_setting_id: (required)
        :param InstituteSettingNew dto: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organisation_settings_update_active_institute_setting_with_http_info(institute_setting_id, dto, **kwargs)  # noqa: E501
        else:
            (data) = self.organisation_settings_update_active_institute_setting_with_http_info(institute_setting_id, dto, **kwargs)  # noqa: E501
            return data

    def organisation_settings_update_active_institute_setting_with_http_info(self, institute_setting_id, dto, **kwargs):  # noqa: E501
        """Update an active institute setting  # noqa: E501

        This call updates an active institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_update_active_institute_setting_with_http_info(institute_setting_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_setting_id: (required)
        :param InstituteSettingNew dto: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['institute_setting_id', 'dto', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organisation_settings_update_active_institute_setting" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'institute_setting_id' is set
        if self.api_client.client_side_validation and ('institute_setting_id' not in params or
                                                       params['institute_setting_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `institute_setting_id` when calling `organisation_settings_update_active_institute_setting`")  # noqa: E501
        # verify the required parameter 'dto' is set
        if self.api_client.client_side_validation and ('dto' not in params or
                                                       params['dto'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dto` when calling `organisation_settings_update_active_institute_setting`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'institute_setting_id' in params:
            path_params['instituteSettingID'] = params['institute_setting_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'dto' in params:
            body_params = params['dto']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/organisations/active/settings/{instituteSettingID}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def organisation_settings_update_institute_setting(self, institute_id, institute_settings_id, dto, **kwargs):  # noqa: E501
        """Update an institute setting  # noqa: E501

        This call updates an institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_update_institute_setting(institute_id, institute_settings_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_id: (required)
        :param int institute_settings_id: (required)
        :param InstituteSettingNew dto: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organisation_settings_update_institute_setting_with_http_info(institute_id, institute_settings_id, dto, **kwargs)  # noqa: E501
        else:
            (data) = self.organisation_settings_update_institute_setting_with_http_info(institute_id, institute_settings_id, dto, **kwargs)  # noqa: E501
            return data

    def organisation_settings_update_institute_setting_with_http_info(self, institute_id, institute_settings_id, dto, **kwargs):  # noqa: E501
        """Update an institute setting  # noqa: E501

        This call updates an institute setting. Elab admins or organisation admins can only use this call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organisation_settings_update_institute_setting_with_http_info(institute_id, institute_settings_id, dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int institute_id: (required)
        :param int institute_settings_id: (required)
        :param InstituteSettingNew dto: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['institute_id', 'institute_settings_id', 'dto', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organisation_settings_update_institute_setting" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'institute_id' is set
        if self.api_client.client_side_validation and ('institute_id' not in params or
                                                       params['institute_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `institute_id` when calling `organisation_settings_update_institute_setting`")  # noqa: E501
        # verify the required parameter 'institute_settings_id' is set
        if self.api_client.client_side_validation and ('institute_settings_id' not in params or
                                                       params['institute_settings_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `institute_settings_id` when calling `organisation_settings_update_institute_setting`")  # noqa: E501
        # verify the required parameter 'dto' is set
        if self.api_client.client_side_validation and ('dto' not in params or
                                                       params['dto'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `dto` when calling `organisation_settings_update_institute_setting`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'institute_id' in params:
            path_params['instituteID'] = params['institute_id']  # noqa: E501
        if 'institute_settings_id' in params:
            path_params['instituteSettingsID'] = params['institute_settings_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'dto' in params:
            body_params = params['dto']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/organisations/{instituteID}/settings/{instituteSettingsID}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
