# coding: utf-8

"""
    eLabNext REST API

    ## Authentication    To authenticate use the `POST /api/v1/auth/user` call below in the Authentication tab with a username and password. This will return an API token as property `token`.    All API calls, with the exception of authentication, need this API token in the header as `Authorization: [API token]`. Omitting this header or supplying an invalid API token results in an error 401 Not Authorized.    Example: `Authorization: eec0727eaf6f7b127aaec1ec33c21caf`    To use this with the **Try it out** buttons, fill in the **api_key** field above with the API token.    ## Request Bodies    The API uses JSON with character set UTF-8 for request and response bodies.    In any call that utilizes request bodies you must supply the header `Content-Type: application/json; charset=utf-8`.    ## Response Codes    Status Code | Name | Meaning  ----------- | ---- | -------  200 | OK | Success. (JSON) content is included in the body.  204 | No Content | Success and no body content. This status is always returned when a call does not produce content.  400 | Bad Request | Bad/missing parameters or JSON input.  401 | Not Authorized | Authentication header is missing or the supplied API token is invalid.  403 | Forbidden | The user associated with the API token has no permission for the requested operation.  404 | Not Found | The resource specified in the request does not exist.  405 | Method Not Allowed | The API call was made with an unsupported HTTP method. (e.g. GET instead of POST.)  409 | Conflict | A POST or PUT operation failed because it conflicts with existing data.  500 | Internal Server Error | A generic error occurred on the server. The response's `message` property contains a description of the error.        # noqa: E501

    OpenAPI spec version: v1
    Contact: enquiries@elabnext.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SampleApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def sample_add_amount_to_series_quantity(self, series_id, delta, **kwargs):  # noqa: E501
        """Add to quantity amount for all samples in a series  # noqa: E501

        This call adds the given amount to the current quantity amounts of all samples in the series. All samples must have a quantity set and need to have the same quantity type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_add_amount_to_series_quantity(series_id, delta, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int series_id: (required)
        :param float delta: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_add_amount_to_series_quantity_with_http_info(series_id, delta, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_add_amount_to_series_quantity_with_http_info(series_id, delta, **kwargs)  # noqa: E501
            return data

    def sample_add_amount_to_series_quantity_with_http_info(self, series_id, delta, **kwargs):  # noqa: E501
        """Add to quantity amount for all samples in a series  # noqa: E501

        This call adds the given amount to the current quantity amounts of all samples in the series. All samples must have a quantity set and need to have the same quantity type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_add_amount_to_series_quantity_with_http_info(series_id, delta, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int series_id: (required)
        :param float delta: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['series_id', 'delta', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_add_amount_to_series_quantity" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'series_id' is set
        if self.api_client.client_side_validation and ('series_id' not in params or
                                                       params['series_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `series_id` when calling `sample_add_amount_to_series_quantity`")  # noqa: E501
        # verify the required parameter 'delta' is set
        if self.api_client.client_side_validation and ('delta' not in params or
                                                       params['delta'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `delta` when calling `sample_add_amount_to_series_quantity`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'series_id' in params:
            path_params['seriesID'] = params['series_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'delta' in params:
            body_params = params['delta']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/sampleSeries/{seriesID}/quantity/add', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_add_quantity_amount(self, sample_id, delta, **kwargs):  # noqa: E501
        """Add an amount to a sample's quantity  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_add_quantity_amount(sample_id, delta, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param float delta: (required)
        :param str x_requested_with: 
        :return: float
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_add_quantity_amount_with_http_info(sample_id, delta, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_add_quantity_amount_with_http_info(sample_id, delta, **kwargs)  # noqa: E501
            return data

    def sample_add_quantity_amount_with_http_info(self, sample_id, delta, **kwargs):  # noqa: E501
        """Add an amount to a sample's quantity  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_add_quantity_amount_with_http_info(sample_id, delta, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param float delta: (required)
        :param str x_requested_with: 
        :return: float
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_id', 'delta', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_add_quantity_amount" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_id' is set
        if self.api_client.client_side_validation and ('sample_id' not in params or
                                                       params['sample_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_id` when calling `sample_add_quantity_amount`")  # noqa: E501
        # verify the required parameter 'delta' is set
        if self.api_client.client_side_validation and ('delta' not in params or
                                                       params['delta'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `delta` when calling `sample_add_quantity_amount`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sample_id' in params:
            path_params['sampleID'] = params['sample_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'delta' in params:
            body_params = params['delta']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/{sampleID}/quantity/add', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='float',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_add_samples_to_series(self, sample_series_id, sample_ids, **kwargs):  # noqa: E501
        """Add samples to a series  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_add_samples_to_series(sample_series_id, sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_series_id: (required)
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_add_samples_to_series_with_http_info(sample_series_id, sample_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_add_samples_to_series_with_http_info(sample_series_id, sample_ids, **kwargs)  # noqa: E501
            return data

    def sample_add_samples_to_series_with_http_info(self, sample_series_id, sample_ids, **kwargs):  # noqa: E501
        """Add samples to a series  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_add_samples_to_series_with_http_info(sample_series_id, sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_series_id: (required)
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_series_id', 'sample_ids', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_add_samples_to_series" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_series_id' is set
        if self.api_client.client_side_validation and ('sample_series_id' not in params or
                                                       params['sample_series_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_series_id` when calling `sample_add_samples_to_series`")  # noqa: E501
        # verify the required parameter 'sample_ids' is set
        if self.api_client.client_side_validation and ('sample_ids' not in params or
                                                       params['sample_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_ids` when calling `sample_add_samples_to_series`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sample_series_id' in params:
            path_params['sampleSeriesID'] = params['sample_series_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'sample_ids' in params:
            body_params = params['sample_ids']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/sampleSeries/{sampleSeriesID}/samples/add', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_archive_sample(self, sample_id, **kwargs):  # noqa: E501
        """Archive a sample  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_archive_sample(sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_archive_sample_with_http_info(sample_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_archive_sample_with_http_info(sample_id, **kwargs)  # noqa: E501
            return data

    def sample_archive_sample_with_http_info(self, sample_id, **kwargs):  # noqa: E501
        """Archive a sample  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_archive_sample_with_http_info(sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_archive_sample" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_id' is set
        if self.api_client.client_side_validation and ('sample_id' not in params or
                                                       params['sample_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_id` when calling `sample_archive_sample`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sample_id' in params:
            path_params['sampleID'] = params['sample_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/{sampleID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_archive_sample_series(self, sample_series_id, **kwargs):  # noqa: E501
        """Archive all samples in a series and remove the series  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_archive_sample_series(sample_series_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_series_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_archive_sample_series_with_http_info(sample_series_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_archive_sample_series_with_http_info(sample_series_id, **kwargs)  # noqa: E501
            return data

    def sample_archive_sample_series_with_http_info(self, sample_series_id, **kwargs):  # noqa: E501
        """Archive all samples in a series and remove the series  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_archive_sample_series_with_http_info(sample_series_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_series_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_series_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_archive_sample_series" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_series_id' is set
        if self.api_client.client_side_validation and ('sample_series_id' not in params or
                                                       params['sample_series_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_series_id` when calling `sample_archive_sample_series`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sample_series_id' in params:
            path_params['sampleSeriesID'] = params['sample_series_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/sampleSeries/{sampleSeriesID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_archive_samples(self, input, **kwargs):  # noqa: E501
        """Archive multiple samples.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_archive_samples(input, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ArchiveSamples input: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_archive_samples_with_http_info(input, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_archive_samples_with_http_info(input, **kwargs)  # noqa: E501
            return data

    def sample_archive_samples_with_http_info(self, input, **kwargs):  # noqa: E501
        """Archive multiple samples.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_archive_samples_with_http_info(input, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ArchiveSamples input: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['input', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_archive_samples" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'input' is set
        if self.api_client.client_side_validation and ('input' not in params or
                                                       params['input'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `input` when calling `sample_archive_samples`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'input' in params:
            body_params = params['input']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/archive', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_archive_samples_deprecated(self, sample_ids, **kwargs):  # noqa: E501
        """Archive multiple samples  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_archive_samples_deprecated(sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_archive_samples_deprecated_with_http_info(sample_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_archive_samples_deprecated_with_http_info(sample_ids, **kwargs)  # noqa: E501
            return data

    def sample_archive_samples_deprecated_with_http_info(self, sample_ids, **kwargs):  # noqa: E501
        """Archive multiple samples  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_archive_samples_deprecated_with_http_info(sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_ids', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_archive_samples_deprecated" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_ids' is set
        if self.api_client.client_side_validation and ('sample_ids' not in params or
                                                       params['sample_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_ids` when calling `sample_archive_samples_deprecated`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'sample_ids' in params:
            body_params = params['sample_ids']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/bulk', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_change_locations(self, updates, **kwargs):  # noqa: E501
        """Change the locations of multiple samples in a box compartment  # noqa: E501

              If you set the optional body parameter 'storageLayerID' then the samples are also moved to that storage compartment.      If you omit this parameter then the samples are only moved within their own compartment.        With this call you can, for example, switch sample positions. Note that if two samples would end up in the same position      as a result of this call a status 409 Conflict is returned.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_change_locations(updates, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SampleLocationUpdates updates: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_change_locations_with_http_info(updates, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_change_locations_with_http_info(updates, **kwargs)  # noqa: E501
            return data

    def sample_change_locations_with_http_info(self, updates, **kwargs):  # noqa: E501
        """Change the locations of multiple samples in a box compartment  # noqa: E501

              If you set the optional body parameter 'storageLayerID' then the samples are also moved to that storage compartment.      If you omit this parameter then the samples are only moved within their own compartment.        With this call you can, for example, switch sample positions. Note that if two samples would end up in the same position      as a result of this call a status 409 Conflict is returned.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_change_locations_with_http_info(updates, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SampleLocationUpdates updates: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['updates', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_change_locations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'updates' is set
        if self.api_client.client_side_validation and ('updates' not in params or
                                                       params['updates'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `updates` when calling `sample_change_locations`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'updates' in params:
            body_params = params['updates']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/changeLocations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_change_sample_owner(self, sample_id, user_id, **kwargs):  # noqa: E501
        """Change the owner of a sample  # noqa: E501

        This call changes the owner of the specified sample.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_change_sample_owner(sample_id, user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param int user_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_change_sample_owner_with_http_info(sample_id, user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_change_sample_owner_with_http_info(sample_id, user_id, **kwargs)  # noqa: E501
            return data

    def sample_change_sample_owner_with_http_info(self, sample_id, user_id, **kwargs):  # noqa: E501
        """Change the owner of a sample  # noqa: E501

        This call changes the owner of the specified sample.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_change_sample_owner_with_http_info(sample_id, user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param int user_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_id', 'user_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_change_sample_owner" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_id' is set
        if self.api_client.client_side_validation and ('sample_id' not in params or
                                                       params['sample_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_id` when calling `sample_change_sample_owner`")  # noqa: E501
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and ('user_id' not in params or
                                                       params['user_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `user_id` when calling `sample_change_sample_owner`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sample_id' in params:
            path_params['sampleID'] = params['sample_id']  # noqa: E501
        if 'user_id' in params:
            path_params['userId'] = params['user_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/{sampleID}/changeOwner/{userId}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_change_sample_owner_bulk(self, input, **kwargs):  # noqa: E501
        """Change the owner of a sample  # noqa: E501

        This call changes the owner of the specified samples.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_change_sample_owner_bulk(input, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChangeSampleOwner input: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_change_sample_owner_bulk_with_http_info(input, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_change_sample_owner_bulk_with_http_info(input, **kwargs)  # noqa: E501
            return data

    def sample_change_sample_owner_bulk_with_http_info(self, input, **kwargs):  # noqa: E501
        """Change the owner of a sample  # noqa: E501

        This call changes the owner of the specified samples.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_change_sample_owner_bulk_with_http_info(input, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChangeSampleOwner input: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['input', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_change_sample_owner_bulk" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'input' is set
        if self.api_client.client_side_validation and ('input' not in params or
                                                       params['input'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `input` when calling `sample_change_sample_owner_bulk`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'input' in params:
            body_params = params['input']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/changeOwner', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_change_sample_owner_bulk_deprecated(self, user_id, sample_ids, **kwargs):  # noqa: E501
        """Change the owner of a sample  # noqa: E501

        This call changes the owner of the specified samples.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_change_sample_owner_bulk_deprecated(user_id, sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int user_id: (required)
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_change_sample_owner_bulk_deprecated_with_http_info(user_id, sample_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_change_sample_owner_bulk_deprecated_with_http_info(user_id, sample_ids, **kwargs)  # noqa: E501
            return data

    def sample_change_sample_owner_bulk_deprecated_with_http_info(self, user_id, sample_ids, **kwargs):  # noqa: E501
        """Change the owner of a sample  # noqa: E501

        This call changes the owner of the specified samples.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_change_sample_owner_bulk_deprecated_with_http_info(user_id, sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int user_id: (required)
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'sample_ids', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_change_sample_owner_bulk_deprecated" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and ('user_id' not in params or
                                                       params['user_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `user_id` when calling `sample_change_sample_owner_bulk_deprecated`")  # noqa: E501
        # verify the required parameter 'sample_ids' is set
        if self.api_client.client_side_validation and ('sample_ids' not in params or
                                                       params['sample_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_ids` when calling `sample_change_sample_owner_bulk_deprecated`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['userId'] = params['user_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'sample_ids' in params:
            body_params = params['sample_ids']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/changeOwner/bulk/{userId}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_check_in_sample(self, sample_id, **kwargs):  # noqa: E501
        """Check in a previously checked out sample  # noqa: E501

        This call removes the _checked out_ status of a sample.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_check_in_sample(sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_check_in_sample_with_http_info(sample_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_check_in_sample_with_http_info(sample_id, **kwargs)  # noqa: E501
            return data

    def sample_check_in_sample_with_http_info(self, sample_id, **kwargs):  # noqa: E501
        """Check in a previously checked out sample  # noqa: E501

        This call removes the _checked out_ status of a sample.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_check_in_sample_with_http_info(sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_check_in_sample" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_id' is set
        if self.api_client.client_side_validation and ('sample_id' not in params or
                                                       params['sample_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_id` when calling `sample_check_in_sample`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sample_id' in params:
            path_params['sampleID'] = params['sample_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/{sampleID}/checkin', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_check_in_samples(self, sample_ids, **kwargs):  # noqa: E501
        """Check in multiple samples  # noqa: E501

        This call removes the _checked out_ status of the specified samples.    Any samples that weren't checked out are ignored. The sample IDs that were actually checked in are returned as an array.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_check_in_samples(sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: list[int]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_check_in_samples_with_http_info(sample_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_check_in_samples_with_http_info(sample_ids, **kwargs)  # noqa: E501
            return data

    def sample_check_in_samples_with_http_info(self, sample_ids, **kwargs):  # noqa: E501
        """Check in multiple samples  # noqa: E501

        This call removes the _checked out_ status of the specified samples.    Any samples that weren't checked out are ignored. The sample IDs that were actually checked in are returned as an array.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_check_in_samples_with_http_info(sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: list[int]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_ids', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_check_in_samples" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_ids' is set
        if self.api_client.client_side_validation and ('sample_ids' not in params or
                                                       params['sample_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_ids` when calling `sample_check_in_samples`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'sample_ids' in params:
            body_params = params['sample_ids']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/checkin', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[int]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_check_out_sample(self, sample_id, **kwargs):  # noqa: E501
        """Check out a sample  # noqa: E501

        This call marks a sample as _checked out_ while keeping its location reserved.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_check_out_sample(sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_check_out_sample_with_http_info(sample_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_check_out_sample_with_http_info(sample_id, **kwargs)  # noqa: E501
            return data

    def sample_check_out_sample_with_http_info(self, sample_id, **kwargs):  # noqa: E501
        """Check out a sample  # noqa: E501

        This call marks a sample as _checked out_ while keeping its location reserved.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_check_out_sample_with_http_info(sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_check_out_sample" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_id' is set
        if self.api_client.client_side_validation and ('sample_id' not in params or
                                                       params['sample_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_id` when calling `sample_check_out_sample`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sample_id' in params:
            path_params['sampleID'] = params['sample_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/{sampleID}/checkout', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_check_out_samples(self, sample_ids, **kwargs):  # noqa: E501
        """Check out multiple samples  # noqa: E501

        This call marks samples as _checked out_ while keeping their locations reserved.    Any samples that were already checked out are ignored. The sample IDs that were actually checked out are returned as an array.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_check_out_samples(sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: list[int]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_check_out_samples_with_http_info(sample_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_check_out_samples_with_http_info(sample_ids, **kwargs)  # noqa: E501
            return data

    def sample_check_out_samples_with_http_info(self, sample_ids, **kwargs):  # noqa: E501
        """Check out multiple samples  # noqa: E501

        This call marks samples as _checked out_ while keeping their locations reserved.    Any samples that were already checked out are ignored. The sample IDs that were actually checked out are returned as an array.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_check_out_samples_with_http_info(sample_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] sample_ids: (required)
        :param str x_requested_with: 
        :return: list[int]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_ids', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_check_out_samples" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_ids' is set
        if self.api_client.client_side_validation and ('sample_ids' not in params or
                                                       params['sample_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_ids` when calling `sample_check_out_samples`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'sample_ids' in params:
            body_params = params['sample_ids']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/checkout', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[int]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_clear_quantity(self, sample_id, **kwargs):  # noqa: E501
        """Clear a sample's amount  # noqa: E501

        This call clears the amount and unit specifications of a sample quantity. This call differs from the delete quantity, where delete quantityremoves the quantity settings, this call keeps the threshold settings and only clears the amount and unit settings.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_clear_quantity(sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param str x_requested_with: 
        :return: SampleAmount
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_clear_quantity_with_http_info(sample_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_clear_quantity_with_http_info(sample_id, **kwargs)  # noqa: E501
            return data

    def sample_clear_quantity_with_http_info(self, sample_id, **kwargs):  # noqa: E501
        """Clear a sample's amount  # noqa: E501

        This call clears the amount and unit specifications of a sample quantity. This call differs from the delete quantity, where delete quantityremoves the quantity settings, this call keeps the threshold settings and only clears the amount and unit settings.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_clear_quantity_with_http_info(sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param str x_requested_with: 
        :return: SampleAmount
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_clear_quantity" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_id' is set
        if self.api_client.client_side_validation and ('sample_id' not in params or
                                                       params['sample_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_id` when calling `sample_clear_quantity`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sample_id' in params:
            path_params['sampleID'] = params['sample_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/{sampleID}/quantity/clear', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SampleAmount',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_clear_quantity_of_all_samples_in_series(self, series_id, **kwargs):  # noqa: E501
        """Clear amount of all samples in a series  # noqa: E501

        This call clears the amount and unit specifications linked to the quantity of all samples in a series.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_clear_quantity_of_all_samples_in_series(series_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int series_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_clear_quantity_of_all_samples_in_series_with_http_info(series_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_clear_quantity_of_all_samples_in_series_with_http_info(series_id, **kwargs)  # noqa: E501
            return data

    def sample_clear_quantity_of_all_samples_in_series_with_http_info(self, series_id, **kwargs):  # noqa: E501
        """Clear amount of all samples in a series  # noqa: E501

        This call clears the amount and unit specifications linked to the quantity of all samples in a series.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_clear_quantity_of_all_samples_in_series_with_http_info(series_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int series_id: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['series_id', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_clear_quantity_of_all_samples_in_series" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'series_id' is set
        if self.api_client.client_side_validation and ('series_id' not in params or
                                                       params['series_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `series_id` when calling `sample_clear_quantity_of_all_samples_in_series`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'series_id' in params:
            path_params['seriesID'] = params['series_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/sampleSeries/{seriesID}/quantity/clear', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_clone_sample(self, sample_id, options, **kwargs):  # noqa: E501
        """Creates one or more clones of a sample  # noqa: E501

        The storage position ranges for the cloned samples can be given in the storagePositionRanges array, where the offset is the starting position in the storage position range and the limit is how many samples will be placed after the starting position. The total number of storage positions (the sum of limit) must be equal to cloneTimes. If no storage position ranges are specified, the cloned samples will not be added to a storage unit.    The quantity of the cloned samples can be changed using quantity amount and unit.     The trackParent parameter is a boolean indicating whether the original sample should be linked as parent to the clone sample(s).    example:        {          storagePositionRanges: [{              storageLayerID: 109061,              limit: 1,              offset: 2          }],          quantity: {              amount: 1,              unit: \"KiloGram\"          },          cloneTimes: 1,          trackParent: true      }        # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_clone_sample(sample_id, options, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param SampleCloneOptions options: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_clone_sample_with_http_info(sample_id, options, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_clone_sample_with_http_info(sample_id, options, **kwargs)  # noqa: E501
            return data

    def sample_clone_sample_with_http_info(self, sample_id, options, **kwargs):  # noqa: E501
        """Creates one or more clones of a sample  # noqa: E501

        The storage position ranges for the cloned samples can be given in the storagePositionRanges array, where the offset is the starting position in the storage position range and the limit is how many samples will be placed after the starting position. The total number of storage positions (the sum of limit) must be equal to cloneTimes. If no storage position ranges are specified, the cloned samples will not be added to a storage unit.    The quantity of the cloned samples can be changed using quantity amount and unit.     The trackParent parameter is a boolean indicating whether the original sample should be linked as parent to the clone sample(s).    example:        {          storagePositionRanges: [{              storageLayerID: 109061,              limit: 1,              offset: 2          }],          quantity: {              amount: 1,              unit: \"KiloGram\"          },          cloneTimes: 1,          trackParent: true      }        # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_clone_sample_with_http_info(sample_id, options, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param SampleCloneOptions options: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_id', 'options', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_clone_sample" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_id' is set
        if self.api_client.client_side_validation and ('sample_id' not in params or
                                                       params['sample_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_id` when calling `sample_clone_sample`")  # noqa: E501
        # verify the required parameter 'options' is set
        if self.api_client.client_side_validation and ('options' not in params or
                                                       params['options'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `options` when calling `sample_clone_sample`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sample_id' in params:
            path_params['sampleID'] = params['sample_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'options' in params:
            body_params = params['options']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/{sampleID}/clone', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_clone_sample_to_series(self, sample_id, options, **kwargs):  # noqa: E501
        """Creates a series out of one or more clones of the specified sample  # noqa: E501

        The storage position ranges for the cloned samples can be given in the storagePositionRanges array, where the offset is the starting position in the storage position range and the limit is how many samples will be placed after the starting position. The total number of storage positions (the sum of limit) must be equal to cloneTimes. If no storage position ranges are specified, the cloned samples will not be added to a storage unit.    The quantity of the cloned samples can be changed using quantity amount and unit.     The trackParent parameter is a boolean indicating whether the original sample should be linked as parent to the clone sample(s).    The seriesName parameter is the name of the newly created series.    The incrementSampleName parameter contains all the data for when you want to add an increment to the sample name. The numberPlacement can be 'Prepend' or 'Append'.    The includeSourceSample parameter is a boolean indicating whether the original sample is going to be included into the new series.    example:        {          storagePositionRanges: [{              storageLayerID: 109061,              limit: 1,              offset: 2,          }],          quantity: {              amount: 1,              unit: \"KiloGram\"          },          cloneTimes: 1,          trackParent: true          includeSourceSample: true,          seriesName: \"exampleSeries\",          ignoreAutoNumbering: true,          incrementSampleName: {              startNumber: 0,              stepSize: 5,              numberPosition: \"prepend\"          }      }        # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_clone_sample_to_series(sample_id, options, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param SampleCloneIntoSeriesOptions options: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_clone_sample_to_series_with_http_info(sample_id, options, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_clone_sample_to_series_with_http_info(sample_id, options, **kwargs)  # noqa: E501
            return data

    def sample_clone_sample_to_series_with_http_info(self, sample_id, options, **kwargs):  # noqa: E501
        """Creates a series out of one or more clones of the specified sample  # noqa: E501

        The storage position ranges for the cloned samples can be given in the storagePositionRanges array, where the offset is the starting position in the storage position range and the limit is how many samples will be placed after the starting position. The total number of storage positions (the sum of limit) must be equal to cloneTimes. If no storage position ranges are specified, the cloned samples will not be added to a storage unit.    The quantity of the cloned samples can be changed using quantity amount and unit.     The trackParent parameter is a boolean indicating whether the original sample should be linked as parent to the clone sample(s).    The seriesName parameter is the name of the newly created series.    The incrementSampleName parameter contains all the data for when you want to add an increment to the sample name. The numberPlacement can be 'Prepend' or 'Append'.    The includeSourceSample parameter is a boolean indicating whether the original sample is going to be included into the new series.    example:        {          storagePositionRanges: [{              storageLayerID: 109061,              limit: 1,              offset: 2,          }],          quantity: {              amount: 1,              unit: \"KiloGram\"          },          cloneTimes: 1,          trackParent: true          includeSourceSample: true,          seriesName: \"exampleSeries\",          ignoreAutoNumbering: true,          incrementSampleName: {              startNumber: 0,              stepSize: 5,              numberPosition: \"prepend\"          }      }        # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_clone_sample_to_series_with_http_info(sample_id, options, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_id: (required)
        :param SampleCloneIntoSeriesOptions options: (required)
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_id', 'options', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_clone_sample_to_series" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_id' is set
        if self.api_client.client_side_validation and ('sample_id' not in params or
                                                       params['sample_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_id` when calling `sample_clone_sample_to_series`")  # noqa: E501
        # verify the required parameter 'options' is set
        if self.api_client.client_side_validation and ('options' not in params or
                                                       params['options'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `options` when calling `sample_clone_sample_to_series`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sample_id' in params:
            path_params['sampleID'] = params['sample_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'options' in params:
            body_params = params['options']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/samples/{sampleID}/cloneIntoSeries', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_clone_series(self, sample_series_id, options, **kwargs):  # noqa: E501
        """Copy a sample series to the given location  # noqa: E501

          The storage position ranges for the cloned samples can be given in the storagePositionRanges array, where the offset is the starting position in the storage position range and the limit is how many samples will be placed after the starting position. The total number of storage positions (the sum of limit) must be equal to cloneTimes. If no storage position ranges are specified, the cloned samples will not be added to a storage unit.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_clone_series(sample_series_id, options, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_series_id: (required)
        :param CloneSeriesOptions options: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_clone_series_with_http_info(sample_series_id, options, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_clone_series_with_http_info(sample_series_id, options, **kwargs)  # noqa: E501
            return data

    def sample_clone_series_with_http_info(self, sample_series_id, options, **kwargs):  # noqa: E501
        """Copy a sample series to the given location  # noqa: E501

          The storage position ranges for the cloned samples can be given in the storagePositionRanges array, where the offset is the starting position in the storage position range and the limit is how many samples will be placed after the starting position. The total number of storage positions (the sum of limit) must be equal to cloneTimes. If no storage position ranges are specified, the cloned samples will not be added to a storage unit.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_clone_series_with_http_info(sample_series_id, options, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sample_series_id: (required)
        :param CloneSeriesOptions options: (required)
        :param str x_requested_with: 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sample_series_id', 'options', 'x_requested_with']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sample_clone_series" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sample_series_id' is set
        if self.api_client.client_side_validation and ('sample_series_id' not in params or
                                                       params['sample_series_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `sample_series_id` when calling `sample_clone_series`")  # noqa: E501
        # verify the required parameter 'options' is set
        if self.api_client.client_side_validation and ('options' not in params or
                                                       params['options'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `options` when calling `sample_clone_series`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sample_series_id' in params:
            path_params['sampleSeriesID'] = params['sample_series_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_requested_with' in params:
            header_params['X-Requested-With'] = params['x_requested_with']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'options' in params:
            body_params = params['options']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/sampleSeries/{sampleSeriesID}/clone', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sample_create_sample(self, sample, **kwargs):  # noqa: E501
        """Create a new sample  # noqa: E501

        By default this call will **not** create any meta fields even if there are required fields.    If you add the query parameter autoCreateMetaDefaults=true to this call then it will create the meta fields with their default or auto-numbering values as defined in the sample type. **Note:** meta fields in the sample type that don't have a default value or have auto-numbering enabled are **not** created.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sample_create_sample(sample, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SampleComplete sample: (required)
        :param bool auto_create_meta_defaults:
        :param str x_requested_with: 
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sample_create_sample_with_http_info(sample, **kwargs)  # noqa: E501
        else:
            (data) = self.sample_create_sample_with_http_info(sample, **kwargs)  # noqa: E501
            return data

    def sample_create_sample_with_http_info(self, sample, **kwargs):  # noqa: E501
        """Create a new sample  # noqa: E501

[...]
